.nexus-c-bulk-match-view{
  display: none;
  pointer-events: none;
  color: #A5ADBA;
  font-size: 14px;
  white-space: nowrap;
  top: 0;
  &.active-link {
    display: inline-block;
    cursor: pointer;
    color: #000000;
    pointer-events: all;
  }
}