.nexus-c-manual-rights-entry {
    label {
        font-weight: bold;
        margin: 0 10px 0 0;
    }
    section {
        margin-bottom: 10px;
    }
    .nexus-c-manual-rights-entry__error {
        color: #de350b;
    }
    .nexus-c-manual-rights-entry__description {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }
    .nexus-c-manual-rights-entry__attachment {
        display: flex;
        align-items: center;
        margin-top: 10px;

        label {
            margin-right: 10px;
        }
        a {
            text-decoration: underline;
            text-underline-position: under;
            color: #de350b;
        }
        .separator {
            margin-right: 10px;
        }
        .nexus-c-manual-rights-entry__attachment--icon {
            width: 32px;
            box-sizing: border-box;
            display: flex;
            padding: 0 5px;
            a {
                color: #a9a9a9;
                font-size: 20px;
                vertical-align: middle;
            }
        }
    }
    .nexus-c-manual-rights-entry__actions {
        display: flex;
        justify-content: flex-end;
        .nexus-c-manual-rights-entry__button {
            vertical-align: bottom;
        }
    }
    .nexus-c-manual-rights-entry__table_header {
        display: flex;
        justify-content: space-between;
        margin: 5px;
    }
}

.nexus-c-attachment {
    display: flex;
}

.nexus-c-status-tag-old {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;

    & > .nexus-status-tag {
        height: 1.2rem;
        font-size: 0.8rem;
        width: 100px;
    }
}

.nexus-c-attachment-link-old {
    display: flex;
}

.nexus-c-attachment-error-old {
    padding-left: 10px;
    padding-top: 5px;
    line-height: normal !important;
}

.nexus-c-attachment-error-old__icon {
    color: #de350b;
    padding-right: 5px;
}

.nexus-c-attachment-name {
    margin-top: 5px;
}

.nexus-c-report {
    line-height: initial;
}
