@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/colors';

.nexus-c-nexus-array-with-tabs {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.nexus-c-nexus-array-with-tabs__tabs {
    width: 20%;
}

.nexus-c-nexus-array-with-tabs__fields {
    width: 80%;
}

.nexus-c-nexus-array-with-tabs__heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include padding(8, 0, 8, 4.35);
    > div:first-child {
        > span {
            font-size: 20px;
            font-weight: bold;
            color: map-get($neutrals, N800);
            @include margin(0, 4, 0, 0);
        }
    }
}

.nexus-c-nexus-array-with-tabs__field {
    width: 100%;

    .nexus-c-field > div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .nexus-c-field__label {
            width: 25%;
        }
    }
}
