.nexus-c-right-to-match-navigation {
    padding-top: 20px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nexus-c-right-to-match-navigation__icon-button {
    line-height: 0;
    font-size: 0;
}

.nexus-c-right-to-match-navigation__icon {
    line-height: 0;
    font-size: 0;
}

.nexus-c-right-to-match-navigation__arrow {
    &:hover {
        color: #666;
        cursor: pointer;
    }
}

.nexus-c-right-data {
    color: #939FB5;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}

.nexus-c-right-section-message {
    color: #364767;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

section > div > span > svg {
    margin-top: 3px;
}




