.panel-header {
  &__title {
    display: flex;
    justify-content: space-around;
    svg {
      cursor: pointer;
    }

    &--text {
      font-size: 29px;
      color: #42526e;
      margin-left: 5px;
    }

    &--section {
      display: flex;
      align-items: center;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;

    & > :first-child {
      border-top: 1px solid #dcdcdc;
    }
  }

  &__filter {
    display: flex;
    align-items: center;

    svg {
      cursor: pointer;
    }

    &--pop {
      margin-right: 20px;
      fill: #a5adba;
    }

    svg {
      width: 20px;
      height: 20px;
      fill: #42526e;
    }
  }
}
