@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins.scss';
.panel-header {
    &__title {
        @include margin(6, 0);
        display: flex;
        justify-content: space-around;
        svg {
            cursor: pointer;
        }

        &--text {
            @include heading(h800);
            @include margin(0, 0, 0, 2);
            color: map-get($dark-neutral-colors, dark-neutral-5);
        }

        &--section {
            display: flex;
            align-items: center;
        }

        &--open {
            @include margin(6, 0, 3, 0);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        height: 60vh;

        & > :first-child {
            border-top: 1px solid map-get($light-neutral-colors, light-neutral-2);
        }
    }

    &__filter {
        display: flex;
        align-items: center;

        svg {
            @include addSpacing(width, 5);
            @include addSpacing(height, 5);
            fill: map-get($dark-neutral-colors, dark-neutral-5);
        }
    }
}
