@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/colors';

.nexus-c-field {
    padding: 0.75rem 1.25rem;
    margin-bottom: 5px;

    .display-contents {
        display: contents;
    }

    .stack-label {
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    &.nexus-c-field--error {
        background-color: rgb(242, 222, 222);
        color: rgb(169, 68, 66);

        .nexus-c-field__label {
            color: rgb(169, 68, 66);
        }
    }

    &.nexus-c-field--highlighted {
        background-color: map-get($yellows, Y50);
    }

    .nexus-c-field__placeholder {
        color: map-get($neutrals, N50);
    }

    .nexus-c-field__wrap-text {
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }
}

.italic {
    font-style: italic;
    color: gray;
}

.italic[title]:hover {
    color: red;
}
