.ag-floating-filter-body {
    max-width: calc(100% - 28px);
}
.ag-react-container {
    max-width: 100%;
}
.nexus-c-date-range-floating-filter {
    padding-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
