@import '../../../../../styles/atlaskit/mixins';

.nexus-c-avail-ingest {
    width: 100%;
    @include padding(3);
    border-bottom: 1px solid map-get($light-neutral-colors, light-neutral-1);
    background: map-get($light-neutral-colors, light-neutral-6);

    &:hover {
        background: map-get($light-neutral-colors, light-neutral-4);
    }

    &--is-in-bundle {
        border-left: solid map-get($light-neutral-colors, light-neutral-1);
        @include addSpacing(border-left-width, 2);
        @include addSpacing(padding-left, 4);
        @include addSpacing(margin-left, 0.5);
    }

    &--is-selected {
        background: map-get($blues, B50);

        &:hover {
            background: map-get($blues, B50);
        }
    }

    &__details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__chevron {
        svg {
            @include addSpacing(width, 3);
            @include addSpacing(height, 3);
            fill: map-get($mid-neutral-colors, mid-neutral-7);
            cursor: pointer;
        }

        &--is-opened {
            svg {
                transform: rotate(90deg);
            }
        }
    }

    &__status {
        width: 100%;

        &--is-not-expandable {
            @include addSpacing(margin-left, 4);
        }
    }
}
