.nexus-c-candidates-list {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.nexus-c-candidates-list__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.nexus-c-candidates-list__row {
    font-weight: bold;
}

.nexus-c-candidates-toolbar {
    display: flex;
    flex-direction: row;
}

// add this to ui-elements
.nexus-c-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

    .nexus-c-candidates-list__header & {
        width: 100px;
        font-size: 14px;
    }
}

.nexus-c-candidates-titles-table,
.nexus-c-candidates-selected-table {
    display: none;

    &--active {
        display: contents;
    }
}
