.nexus-c-candidates-list {
    flex: 2;
    display: flex;
    flex-direction: column;
    min-height: 200px;
}

.nexus-c-candidates-list__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.nexus-c-candidates-list__row {
    font-weight: bold;
}
