.ingest-title{
  font-size: 14px;
  width: 300px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  svg {
    width: 22px;
    height: 22px;
    fill: #A5ADBA;
  }
  &__details {
    display: flex;
    align-items: center;
    &--type {
      margin-right: 12px;
    }
    &--provider, &--separator {
      font-weight: bold;
      margin-right: 12px;
    }
  }

}