@import '~@vubiquity-nexus/portal-styles/scss/config';

.nexus-c-nexus-grid {
    flex: 1;
    margin: 20px 0;

    &--auto-height {
        flex: none;
    }

    &--overflow {
        .ag-cell {
            overflow: visible;
        }

        .ag-row {
            z-index: 0;
        }

        .ag-row.ag-row-focus {
            z-index: 1;
        }

        .ag-root-wrapper {
            overflow: visible;
        }

        .ag-tabs-body {
            background-color: #fff;
        }
    }

    &.ag-theme-balham {
        // .ag-ltr .ag-cell-focus {
        //     border-color: #d9dcde;;
        // }
        //
        // .ag-row {
        //     background-color: #f5f7f7;
        // }
        //
        // .ag-row-selected {
        //     background-color: #fff;
        //     border-color: #d9dcde;;
        // }

        .ag-ltr .ag-selection-checkbox {
            margin-right: 0px;
        }

        .nexus-c-nexus-grid__unselected {
            .ag-cell {
                text-decoration: line-through;
            }
        }
        .nexus-c-nexus-grid__selected {
            &--disabled {
                .ag-icon-checkbox-checked {
                    pointer-events: none;
                }
            }
        }
    }
}
