#editorialMetadataTabs {
    .row {
        padding: 15px;
    }
    .wrap-value {
        word-wrap: break-word;
    }
    #listContainer {
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 280px;
    }
    .metadata-empty-value {
        color: #999;
    }
    .info-master {
        svg {
            padding-top: 5px;
            margin-right: 5px;
        }
    }
}
#titleContainer {
    .css-lrg2au-singleValue {
        line-height: unset;
    }
}
.tablinks__status-link {
    &--active {
        fill: white;
    }
    width: 15px;
    margin-bottom: 5px;
    margin-right: 5px;
}
