@import '../../../styles/config';

.nexus-c-table-toolbar {
    display: flex;
    align-items: center;
    width: 100%;
    color: map-get($colors, nexus-light-grey);
}

.nexus-c-table-toolbar__selected-option {
    margin-right: 16px;
    cursor: pointer;

    &:hover {
        opacity: 0.6;
    }

    &--is-active {
        color: map-get($colors, nexus-title-color);
    }
}

.nexus-c-table-toolbar__button-container {
    display: flex;
    flex-grow: 4;
    justify-content: flex-end;
}
