@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';

.nexus-c-withdrawn-icon {
    fill: map-get($mid-neutral-colors, mid-neutral-7);
    width: 20px;
}

.nexus-c-repository-icon span {
    width: 25px;
}
