@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';
@import '~@portal/portal-components/styles/color-palette';

.nexus-c-withdrawn-icon {
    fill: map-get($mid-neutral-colors, mid-neutral-7);
    width: 20px;
    &--is-active {
        fill: map-get($yellows, Y500);
    }
}

.nexus-c-repository-icon span {
    width: 25px;
}

.nexus-c-warning-icon svg {
    color: map-get($mid-neutral-colors, mid-neutral-7);
}

.nexus-c-warning-icon--is-active svg {
    color: map-get($yellows, Y500);
}

.nexus-c-download-icon {
    color: palette(black, 55);

    &--is-active {
        color: palette(black, 100);
    }
}
