@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/colors';
@import '~@portal/portal-components/styles/color-palette';

.nexus-c-array-delete-button {
    @include padding(0, 0, 0, 0);
    @include margin(6, 0, 0, 0);
}

.nexus-c-array-input-wrapper {
    &:first-child {
        @include padding(0, 0, 0, 0);
    }

    @include padding(0, 0, 0, 4);
}

.nexus-c-array-item {
    @include margin(0, 0, 0, 0);
}

.nexus-c-array-label {
    @include margin(0, 0, 1, 0);
    color: palette(black, 100);
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: normal;
}

.external-ids-section {
    .nexus-c-entity {
        .nexus-c-entity-panel {
            padding: 0 0;
        }
    }
}
