.nexus-c-partner-request {
  padding-left: 16px;
  padding-right: 16px;
  height: 92%;

  &__info-section {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  &__info-field {
    margin-top: 4px;
  }

  &__table-wrapper {
    margin-top: 16px;
    height: 80%;

    /* the nexus grid container div */
    & > div {
      height: 100%;
    }

    .cell {
      white-space: normal !important;
      max-height: 160px;
      overflow-y: auto !important;
      line-height: 1.618;
    }
  }
}
