@import '../../../../../styles/mixins.scss';
@import '../../../../../styles/atlaskit/mixins';

.nexus-c-partner-request {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 92%;

    &__info-section {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    &__info-field {
        margin-top: 0.25rem;
    }

    &__table-wrapper {
        margin-top: 1rem;
        height: calc(100vh - 215px);

        /* the nexus grid container div */
        & > div {
            height: 100%;
        }

        .cell {
            white-space: normal !important;
            max-height: 10rem;
            height: auto !important;
            overflow-y: auto !important;
            line-height: 1.618;
        }
    }

    &__cell {
        padding: 0 0.75rem 0.75rem 0;
        width: 100%;
        height: 100%;
    }

    &__json {
        @include addSpacing(margin-left, 4);
        @include addSpacing(margin-right, 4);
        @include addSpacing(margin-bottom, 4);
    }
}
