@import '../../../../../styles/atlaskit/mixins';
@import '../../../../../styles/atlaskit/colors';

.nexus-c-field {
    padding: 0.75rem 1.25rem;
    margin-bottom: 5px;

    &.nexus-c-field--error {
        background-color: rgb(242, 222, 222);
        color: rgb(169, 68, 66);

        .nexus-c-field__label {
            color: rgb(169, 68, 66);
        }
    }

    .nexus-c-field__placeholder {
        color: map-get($neutrals, N100);
    }
}
