.dashboard-card-container {
    .dashboard-card-title {
        margin: 0;
        height: 26px;
    }

    &.no-padding {
        padding: 0;
    }

    .ag-theme-balham:not(.nexus-c-nexus-grid) {
        .ag-react-container {
            line-height: 25px !important;
        }
        .ag-header-cell {
            padding: 2px;
            background-color: rgba(25, 25, 25, 0.5);
            border-top: none !important;
            border-bottom: none !important;
            border-left: none !important;
            padding: 0 5px;
        }

        .ag-header-cell-label {
            font-family: 'Muli', sans-serif;
            font-size: 14px;
            font-weight: 700;
            line-height: 30px;
            width: 100%;
        }

        .ag-header-cell-text {
            width: 100%;
        }

        .ag-cell {
            font-family: 'Muli', sans-serif;
            font-size: 11px;
            font-weight: 400;
            line-height: 23px;
            border-top: none !important;
            border-bottom: none !important;
            border-left: none !important;
            padding: 0 5px;
        }
    }

    .ag-row {
        cursor: pointer;
    }
}
