@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';

.nexus-c-nexus-person-ro {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include margin(0, 0, 2, 0);
    > div:first-child {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include margin(0, 2, 0, 0);
    }
}

.nexus-c-nexus-person-ro__img {
    height: 35px;
    width: 35px;
    @include margin(0, 2, 0, 0);
}

.nexus-c-nexus-person-ro__tag {
    > span {
        @include padding(0.75, 1.75);
    }
}

.nexus-c-nexus-person-italic {
    font-style: italic;
    color: gray;
}

.nexus-c-nexus-person-fade {
    color: gray;
}

.nexus-c-nexus-person-warning {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #e09010;
}

.nexus-c-nexus-person-type {
    box-sizing: border-box;
    display: inline-block;
    padding: 7px;
    vertical-align: middle;
    margin-left: 10px;
}
