@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';

.nexus-c-nexus-person-ro {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.nexus-c-nexus-person-ro__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > div:first-child {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include margin(0, 2, 0, 0);
    }
}

.nexus-c-nexus-person-ro-translation {
    display: flex;
}

.nexus-c-nexus-person-ro__img {
    height: 35px;
    width: 35px;
    @include margin(0, 2);
}

.dot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.nexus-c-nexus-person-ro__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 3px;
}

.nexus-c-nexus-person-italic {
    font-style: italic;
    color: gray;
}

.nexus-c-nexus-person-fade {
    color: gray;
    text-align: left;
}

.nexus-c-nexus-person-warning {
    text-align: center;
    margin-right: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #e09010;
}

.nexus-c-nexus-person-type {
    box-sizing: border-box;
    display: inline-block;
    padding: 7px;
    vertical-align: middle;
    margin-left: 10px;
}
