always-auth=true
registry=http://nexus.vubiquity.com:8081/repository/npm/
//nexus.vubiquity.com:8081/repository/npm/:_authToken=eEFBbkZSUjI6aHhvWkdRWmIyYkNuNm03VGw4ZjdDdWQ5bWZsVzZTak1JNUVUTzlydEtsbTc=