.nexus-c-date-time-picker {
    display: grid;
    grid-template-columns: 7fr 4fr;
    grid-template-rows: minmax(0, auto) 1fr;
    grid-column-gap: 50px;
    align-items: start;

    & > * {
        grid-row: -1;
    }
    .nexus-c-nexus-grid & {
        display: flex;
        flex-direction: column;
        align-items: normal;
    }
}

.nexus-c-date-time-picker__label {
    grid-row: 1;
    grid-column: 1/-1;
}

.read-view-container__placeholder {
    color: #808080;
}
