@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';

.ingest-reload-btn {
    @include padding(2.5, 5);
}

.status-success {
    color: green;
}

.status-failed {
    color: red;
}

.rotate {
    animation: rotation 2s infinite linear;
  }

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }