.nexus-c-ingest-report{
  pointer-events: none;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 2px 4px #C3C9CD;
  border: 1px solid #C3C9CD;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  .nexus-c-ingest-report__counters{
    display: flex;
    .nexus-c-ingest-report__counters-section {
      margin-right: 10px;
      flex-shrink: 0;
      label {
        font-size: 16px;
      }
      .nexus-c-ingest-report__counters-section--value {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}