@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/colors';

.nexus-c-msv-ids-tag {
    background-color: map-get($neutrals, N20);
    border-radius: 9px;
    display: inline-flex;
    align-items: center;
    @include margin(0, 4, 4, 0);
    @include padding(0.5);
}

.nexus-c-msv-ids-tag__button {
    cursor: pointer;
    &:hover {
        color: map-get($reds, R400);
    }
}

.nexus-c-modal__select-container > .nexus-c-modal__select__menu > .nexus-c-modal__select__menu-list {
    max-height: 120px;
}

.nexus-c-modal__select-container-bottom
    > .nexus-c-modal__select-bottom__menu
    > .nexus-c-modal__select-bottom__menu-list {
    max-height: 120px;
}

.nexus-c-modal__form-footer {
    @include margin(0, 0, 16, 0);
}

.nexus-c-msv-ids-add-button {
    margin: 6px;
}
