.fulfillment-order {

  &__row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1.7rem;  //TODO: Create mixin for calculating spacing
  }

  &__header {
    justify-content: space-between;
  }

  hr {
    margin: 1.7rem 0;
  }

  /* AtlasKit Bugfix */
  input[disabled] {
    height: auto;
  }

  &__button-row {
    display: flex;
    justify-content: flex-end;
    margin: 16px;
  }

  &__input {
    margin-bottom: 16px;
  }
}

.right-align {
  text-align: right;
}
