@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/colors';

.fulfillment-order {
    &__section {
        width: 95%;
    }
    &__title {
        &--text {
            font-size: 29px;
            color: #42526e;
        }
    }

    &__row {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 1.7rem; //TODO: Create mixin for calculating spacing
    }

    &__header {
        justify-content: space-between;
    }

    hr {
        margin: 1.7rem 0;
    }

    .error-icon {
        font-size: 10px;
        font-weight: bold;

        &.red {
            color: red;
        }

        &.grey {
            color: grey;
        }
    }

    /* AtlasKit Bugfix */
    input[disabled] {
        height: auto;
        color: map-get($neutrals, N200);
    }

    #readiness-status div {
        color: map-get($neutrals, N200);
    }

    &__button-row {
        display: flex;
        justify-content: flex-end;
        margin: 1.14rem;
    }

    &__input {
        margin-bottom: 1.14rem;
    }
}

.right-align {
    text-align: right;
}

.error-list {
    width: 100%;
    @include padding(5, 2, 3, 2);
    &__header {
        width: 100%;
    }
    &__item {
        &-err {
            font-size: 1.3rem;
            color: red;
        }
        &-err-desc {
            font-size: 1.2rem;
            @include addSpacing('margin-left', 5);
        }
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    &__footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p {
            color: gray;
        }
    }
}

.nexus-fo-date-readonly {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.fo-grid-maxwidth {
    max-width: 100%;
}

.fo-gridhdr-radio {
    margin-left: 10px;
}
