.nexus-c-right-matching-view {
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.nexus-c-right-matching-view__footer {
    display: flex;
    justify-content: flex-end;
}
