@import '~@vubiquity-nexus/portal-styles/scss/config';

.bulk-set-territories {
    &__label {
        margin: 15px 0 5px;
    }
    &__note {
        color: map-get($colors, nexus-light-grey);
    }
}

.bulk-set-territories__select-container
    > .bulk-set-territories__select__menu
    > .bulk-set-territories__select__menu-list {
    max-height: 180px;
}
