@import '~@vubiquity-nexus/portal-styles/scss/config';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/colors';
@import '~@portal/portal-components/styles/color-palette';

.nexus-c-table-toolbar {
    display: flex;
    align-items: center;
    color: map-get($colors, nexus-light-grey);
}

.nexus-c-table-toolbar__selected-option {
    margin-right: 16px;
    cursor: pointer;

    &:hover {
        opacity: 0.6;
    }

    &--is-active {
        color: map-get($colors, nexus-title-color);
    }
}

.nexus-c-table-toolbar__button-container {
    display: flex;
    flex-grow: 4;
    justify-content: flex-end;
    padding: 10px;
}

.nexus-c-table-toolbar__total-rows {
    font-size: 13px;
    font-weight: bold;
    color: palette(black, 55);
}

.nexus-c-table-toolbar__separation-line {
    @include margin(0, 3);
    width: 1px;
    height: 32px;
    background-color: palette(black, 20);
}

.nexus-c-table-toolbar__selected-button-container {
    min-width: 162px;
}

.nexus-c-table-toolbar__rights-counter-container {
    min-width: 50px;
}
