@import '~@vubiquity-nexus/portal-styles/scss/config';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/colors';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';

.manual-ingest-config {
    display: flex;
    flex-direction: column;
    min-height: 250px;
    overflow: hidden;

    &--file-name {
        display: flex;
        flex-direction: column;
        span {
            @include heading(h400);
            word-break: break-all;
        }
    }
}

.manual-ingest-config__grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    @include margin(0, 0, 6, 0);
    &:first-of-type {
        grid-template-columns: 2fr 1fr;
        @include margin(0, 0, 3, 0);
    }
    &:last-of-type {
        @include margin(0, 0, 2, 0);
        button {
            display: flex;
            justify-content: center;
            svg {
                stroke: #ffffff;
            }
            &.btn-primary {
                background: #0065ff;
                color: #ffffff !important;
            }
        }
    }
    &--browse {
        justify-self: end;
        box-shadow: none !important;
    }
}

.manual-ingest-config__sub-text {
    @include heading(h100);
    @include margin(1, 0, 0, 0);
}

.manual-ingest-config__catalog {
    @include margin(2, 0, 5, 0);
}

.manual-ingest-config__catalog-options {
    display: flex;
    flex-direction: row;
    @include margin(5, 0, 0, 0);
}

.manual-ingest-config__catalog-select {
    width: 50%;
}

.manual-ingest-config__catalog-checkbox {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.manual-ingest-config__label {
    @include heading(h200);
    @include margin(2, 0, 1, 0);
}
