@import '../../../../../styles/atlaskit/theme';
@import '../../../../../styles/atlaskit/mixins';

.nexus-c-bundle-title {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &__details {
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__folder {
        @include addSpacing(margin-right, 3);
        @include addSpacing(width, 4.5);
        @include addSpacing(height, 4.5);
        fill: map-get($mid-neutral-colors, mid-neutral-7);
    }

    &__licensor {
        font-weight: bold;
        @include addSpacing(margin-right, 3);
    }

    &__licensor-and-count {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
