.nexus-c-bundle-title {
    font-size: 14px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    svg {
        width: 18px;
        height: 18px;
        fill: #a5adba;
    }

    &__details {
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__folder {
        margin-right: 12px;
    }

    &__licensor {
        font-weight: bold;
        margin-right: 12px;
    }

    &__licensor-and-count {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
