@import '../../../../../styles/atlaskit/reset';
@import '../../../../../styles/atlaskit/theme';
@import '../../../../../styles/atlaskit/mixins';

.ingest-report {
    width: 100%;
    @include addSpacing(margin-top, 3.5);
    display: inline-flex;
    flex-direction: column;

    &__fields {
        display: inline-flex;
        justify-content: space-between;
    }

    &__field {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: map-get($dark-neutral-colors, dark-neutral-5);
        @include addSpacing(width, 10);
        @include addSpacing(height, 10);
        line-height: initial;

        &--label {
            @include heading(h100);
            @include margin(0, 0, 1, 0);
        }

        &--value {
            display: flex;
            align-items: center;
            justify-content: center;
            color: map-get($dark-neutral-colors, dark-neutral-1);
            background: map-get($light-neutral-colors, light-neutral-1);
            border-radius: 32px;
            padding: 2px 8px;
            text-align: center;
            font-weight: bold;
            min-width: 22px;
            min-height: 20px;
        }
    }

    &__error-message {
        font-size: 11px;
        color: #de350b;
        margin: 10px 0 0 5px;
    }
}
