@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';

.ingest-report {
    width: 100%;
    @include addSpacing(margin-top, 3.5);
    display: inline-flex;
    flex-direction: column;

    &__fields {
        display: inline-flex;
        justify-content: space-between;
    }

    &__field {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: map-get($dark-neutral-colors, dark-neutral-5);
        @include addSpacing(width, 12);
        @include addSpacing(height, 10);
        line-height: initial;
    }

    &__field-label {
        @include heading(h100);
        @include margin(0, 0, 1, 0);

        &--is-selectable {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__field-value {
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
        @include margin(0.5, 2);
        @include addSpacing(min-width, 5.5);
        @include addSpacing(min-height, 5);
        @include addSpacing(border-radius, 8);
        color: map-get($dark-neutral-colors, dark-neutral-1);
        background: map-get($light-neutral-colors, light-neutral-1);
        text-align: center;
        font-weight: bold;

        &--is-selectable {
            cursor: pointer;

            &:hover {
                background: map-get($mid-neutral-colors, mid-neutral-6);
                color: map-get($dark-neutral-colors, dark-neutral-1);
            }
        }

        &.filter-active {
            background: map-get($dark-neutral-colors, dark-neutral-5);
            color: map-get($light-neutral-colors, light-neutral-6);

            &:hover {
                background: map-get($dark-neutral-colors, dark-neutral-5);
                color: map-get($light-neutral-colors, light-neutral-6);
            }
        }
    }

    &__error-message {
        font-size: 11px;
        color: #de350b;
        margin: 10px 0 0 5px;
        /*Added for PORT-3116*/
        width: 0;
        min-width: 100%;
    }
}
