html {
    overflow-x: hidden;
}

/* Style the tab */
.tab {
    overflow: hidden;
    margin-left: 20px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-bottom: 0;
    border-bottom-style: none;
}

.tablinks {
    border: none;
    border: 1px solid #999;
    margin-right: 1px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

.ag-font-style {
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    user-select: text !important;
}

.ag-theme-balham:not(.nexus-c-nexus-grid) {
    .ag-cell {
        padding: 0;
    }
}
