@import '../../../../../styles/atlaskit/mixins';

.nexus-c-rights-repository-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include padding(0, 0, 6, 0);

    &__title {
        display: flex;
        align-items: center;
    }

    &__title-text {
        @include margin(0, 4);
    }
}
