.nexus-c-metadata-table-action {
    font-weight: bold;

    /* unvisited link */
    &:link {
        //color: #cccccc;
        //color: #999999;
        color: gray;
    }

    &:visited {
        color: gray;
    }

    &:hover {
        //color: dodgerblue;
        color: #007bff;
        text-decoration: underline;
    }
}
