@import '../../../styles/atlaskit/mixins';
@import '../../../styles/atlaskit/colors';

.nexus-c-droppable-content {
    width: 100%;
}

.nexus-c-droppable-content--dragging {
    background-color: map-get($neutrals, N50);
    border: 2px dotted map-get($darkModeNeutrals, DN20);
}

.nexus-c-persons-list__heading {
    font-size: 20px;
    border-bottom: 2px solid map-get($neutrals, N40);
    @include margin(0, 0, 6, 0);
}

.nexus-c-persons-list__add {
    width: 100%;
    border-radius: 3px;
    @include margin(0, 0, 3, 0);
}
