@import '../../../../../styles/atlaskit/reset';
@import '../../../../../styles/atlaskit/theme';
@import '../../../../../styles/atlaskit/mixins';

.ingest-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include padding(0, 6, 6);
    border-bottom: 1px solid map-get($light-neutral-colors, light-neutral-1);

    &--no-border {
        border-bottom: none;
    }

    &__title-container {
        display: flex;
        align-items: center;
    }

    &__title {
        margin-top: 0;
        @include margin(0, 0, 0, 4);
    }

    &__actions {
        display: flex;
        align-items: center;

        svg {
            cursor: pointer;
        }

        &--pop {
            margin-right: 20px;
            fill: #a5adba;
        }
    }

    svg {
        width: 20px;
        height: 20px;
        fill: #42526e;
    }
}
