.nexus-c-right-details-highlighted-field > p {
    margin: 0;
}

.nexus-c-right-details-highlighted-field__title {
    color: #a5adba;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 6px;
}
