@import '../../../../styles/atlaskit/mixins';
@import '../../../../styles/atlaskit/colors';

.nexus-c-right-details-header {
    position: sticky;
    top: 0;
    @include padding(6, 0);
    background-color: #f2f2f2; //TODO: This is not atlaskit color
    z-index: 1000;
}

.nexus-c-right-details-header__top {
    width: 80%;
    @include margin(0, auto);
    display: flex;
    align-items: center;
}

.nexus-c-right-details-header__bottom {
    width: 80%;
    @include margin(3, auto, 0, auto);
    display: flex;
    align-items: center;
    justify-content: space-between;
    > div > p {
        @include margin(0);
    }
}

.nexus-c-right-details-header__bottom--shrinked {
    width: 80%;
    @include margin(auto);
    display: none;
    align-items: center;
    > p {
        color: map-get($neutrals, N70);
        font-weight: bold;
        @include margin(0, 6, 0, 0);
    }
}

.visible {
    display: flex;
}

.hidden {
    display: none;
}

.adjust-padding {
    @include padding(3, 0);
}
