
.nexus-c-bulk-warning-toast-container {
    flex: 1;

    h4, p {
        color: #cc8925;
    }
}

.nexus-c-bulk-warning-toast-button-container {
    display: flex;
    margin-top: 8px;
}

.nexus-c-bulk-warning-toast-icon {
    font-size: 3rem;
}