@import '~@vubiquity-nexus/portal-styles/scss/config';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/colors';
@import '~@portal/portal-components/styles/color-palette';

.nexus-c-button__avails-selected {
    background: none;
    font-weight: bold;
    font-size: 13px;
    color: palette(black, 55);
    white-space: nowrap;
}

.p-button.p-togglebutton.p-component.nexus-c-button__avails-disabled {
    border: none;
    color: palette(black, 20);
    cursor: not-allowed;
    background: none !important;

    &:hover,
    &:active {
        color: palette(black, 20);
        span {
            color: palette(black, 20);
        }
    }
}
