@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/colors';

.nexus-c-nexus-person {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.nexus-c-nexus-person__info {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > div:first-child {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include margin(0, 2, 0, 0);
    }
}

.nexus-c-nexus-person__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    > button {
        @include margin(0);
        @include padding(0);
    }
    margin-left: 3px;
}

.nexus-c-nexus-person__img {
    height: 35px;
    width: 35px;
    @include margin(0, 2);
}

.nexus-c-person-action {
    @include margin(0);
    @include padding(0);
    cursor: pointer;
    > span {
        &:hover {
            color: map-get($reds, R400);
        }
    }
}

.nexus-c-nexus-person-italic {
    font-style: italic;
    color: gray;
}

.nexus-c-nexus-person-fade {
    color: gray;
}

.nexus-c-nexus-person-warning {
    margin-right: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #e09010;
}
