@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/reset';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/theme';

.nexus-c-servicing-order-item {
    cursor: pointer;
    @include padding(3);
    border-bottom: 1px solid map-get($light-neutral-colors, light-neutral-2);

    &__title-row {
        width: 100%;
    }

    &__icons {
        justify-content: flex-end;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__row-group {
        display: flex;
        align-items: center;
        .nexus-c-servicing-order-item__badge {
            margin-left: 4px;
        }
    }

    &__folder-icon {
        @include addSpacing('margin-right', 3);
        @include addSpacing('width', 4.5);
        @include addSpacing('height', 4.5);
        fill: map-get($mid-neutral-colors, mid-neutral-7);
        flex-shrink: 0;
        cursor: pointer;
    }

    &__title {
        @include margin(0);
        white-space: nowrap;
        overflow: hidden;
        align-items: center;
        text-overflow: ellipsis;
        display: inline-block;
        width: 100%;
    }

    &__external-id {
        @include heading(h200);
        @include margin(0, 0, 2, 7.5);
    }

    &__chevron-icon {
        @include addSpacing('margin-right', 4.5);
        @include addSpacing('width', 3);
        @include addSpacing('height', 3);
        fill: map-get($mid-neutral-colors, mid-neutral-7);
        flex-shrink: 0;

        &--is-expanded {
            transform: rotate(90deg);
        }
    }

    &__due-dates {
        @include heading(h100);
        @include addSpacing('margin-top', 0);
    }
}
