@import '../../../../../styles/atlaskit/reset';
@import '../../../../../styles/atlaskit/colors';
@import '../../../../../styles/atlaskit/mixins';

.nexus-c-fulfillment-order-panel {
    cursor: pointer;
    @include padding(3);
    border-bottom: 1px solid map-get($light-neutral-colors, light-neutral-2);
    background: map-get($primary-colors, white);
    display: block;
    position: relative;

    &--is-selected {
        background: map-get($blues, B50);

        &:hover {
            background: map-get($blues, B50);
        }
    }

    &--is-child {
        border-left: solid map-get($light-neutral-colors, light-neutral-1);
        @include addSpacing(border-left-width, 2);
        @include addSpacing(padding-left, 4);
        @include addSpacing(margin-left, 0.5);
    }

    svg {
        width: 18px;
        height: 18px;
        fill: #a5adba;
        flex-shrink: 0;
    }

    &__title-and-date {
        width: 100%;
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__date {
        font-size: 11px;
        color: #737e91;
    }

    &__file-icon {
        margin-right: 12px;
    }

    &__title-container {
        display: flex;
        align-items: flex-end;
    }

    &__title {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        font-weight: bold;
    }

    &__description-and-status {
        width: 100%;
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        padding-left: 30px;
    }

    &__description {
        font-size: 11px;
        color: #737e91;
    }

    &__status {
        flex-shrink: 0;
        margin-left: 10px;
    }

    &__servicer {
        width: 44px;
        height: 44px;
        background-color: map-get($mid-neutral-colors, mid-neutral-6);
        border-radius: 44px;
        display: flex;
        align-items: center;
        justify-content: center;

        &-label {
            font-size: 10px;
            font-weight: bold;
            color: map-get($primary-colors, white);
            text-align: center;
        }
    }

    &__order-info {
        margin-left: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1 0 auto;
    }
}
