.nexus-c-fulfillment-order-panel {
  width: 100%;
  padding: 12px;
  border-bottom: 1px solid #dcdcdc;
  background: #ffffff;
  font-size: 14px;

  display: block;

  &--is-selected {
    background: #e0ecf7;

    &:hover {
      background: #e0ecf7;
    }
  }

  svg {
    width: 18px;
    height: 18px;
    fill: #a5adba;
    flex-shrink: 0;
  }

  &__title-and-date {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }

  &__date {
    font-size: 11px;
    color: #737e91;
  }

  &__file-icon {
    margin-right: 12px;
  }

  &__title-container {
    display: flex;
    align-items: flex-end;
  }

  &__title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    font-weight: bold;
  }

  &__description-and-status {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
  }

  &__description {
    font-size: 11px;
    color: #737e91;
  }
}
