.propagate-form__message,
.propagate-form__error {
    margin-bottom: 20px;
}

.propagate-form__actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;

    > button {
        margin: 0 5px;
    }
}

.propagate-form__season {
    display: flex;
}

.propagate-form__section {
    display: flex;
    margin-top: 5px;
    > h5 {
        width: 130px;
        font-size: 11px;
        margin-bottom: 8px;
    }
}

/* Solid border */
hr.solid {
    border-top: 1px solid black;
}

.propagate-form__radio {
    display: flex;
    flex-direction: column;
}

.note {
    font-size: 12px;
    color: rgba(black, 0.6);
    margin: 10px 0 0 16px;
}

.disabled {
    color: rgba(black, 0.2);
}

.propagate-form__propagate-button {
    margin-left: 10px;
}
