@import '../../styles/config';

.nexus-c-servicing-orders{
  height: 100%;
  padding: 24px 0 0;

  &__title {
    font-size: 29px;
    padding-left: 22px;
    color: map-get($colors, nexus-title-color);
  }

  &__external-filters {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .nexus-c-servicing-orders__customer-filter {
      width: 200px;
      margin-left: 5px;
      margin-right: 5px;
    }

    button {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
