// @import '@atlaskit/css-reset'; // TODO: This needs to be added to global when legacy components are removed
@import '../../styles/atlaskit/reset.scss';
@import '../../styles/config';
@import '../../styles/mixins';

.nexus-c-servicing-orders {
    height: 100%;
    @include addSpace('padding', 6);

    &__title {
        font-size: 29px;
        color: map-get($colors, nexus-title-color);
    }

    &__external-filters {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-right: 1rem;

        button {
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    &__customer-filter {
        width: 200px;
        margin-left: 5px;
        margin-right: 5px;
        &--label {
            color: #a5adba;
            margin-bottom: 10px;
        }
        &--select {
            height: 30px;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            border: 0;
            > div {
                width: 100%;
                border: 0;
            }
            input {
                height: 30px;
            }
        }
    }
}
