// @import '@atlaskit/css-reset'; // TODO: This needs to be added to global when legacy components are removed
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';

.nexus-c-servicing-orders {
    height: 100%;
    @include addSpacing('padding', 6);

    &__external-filters {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-right: 1rem;

        button {
            @include margin(0, 1);
        }
    }

    &__customer-filter {
        @include margin(0, 1);
        @include addSpacing('width', 50);
        z-index: 2;
    }
}
