#cardContainer {
    min-height: 385px !important;
}
#listContainer {
    min-height: 350px !important;
}

.async-select-with-callback {
    font-size: 14px;
}
.person {
    margin-top: 15px !important;
    border: 1px solid #000 !important;
}

.nexus-subselect {
    top: -17px;
    left: 7px;
    color: #A5ADBA;
}
