.avail-bundle {
  &__cell {
    cursor: grab;
    width: 324px;
    padding: 12px;
    border: 1px solid #737E91;
    background: #F5F5F7;
    &:hover {
      background: #E6EDF0;
    }
    &__details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      svg {
        width: 15px;
        height: 15px;
        fill: #A5ADBA;
        cursor: pointer;
      }

      &--open {
        svg {
          transform: rotate(90deg);
        }
      }
    }
  }
}