@import '~@vubiquity-nexus/portal-styles/scss/config';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/colors';
@import '~@portal/portal-components/styles/color-palette';

.nexus-c-selected-rights-actions {
    position: relative;

    svg {
        cursor: pointer;
    }

    .nexus-c-selected-rights-actions__menu {
        position: absolute;
        top: 30px;
        border: 1px solid #a5adba;
        background: #ffffff;
        z-index: 2; // 1 goes above ag-grid, 2 goes above ag-grid's separators...
        padding: 10px;
        display: none;

        &--is-open {
            display: block;
        }
    }

    .nexus-c-selected-rights-actions__menu-item {
        @include margin(0, 3);
        color: palette(black, 20);
        white-space: nowrap; // Keep each option in one line
        padding-bottom: 0px;
        font-weight: bold;
        cursor: not-allowed;

        &--is-active {
            color: map-get($colors, nexus-secondary-color);
            color: palette(black, 55);
            cursor: pointer;
        }
    }
}

.Tooltip {
    white-space: pre-wrap;
}
