@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/colors';

.artwork-item {
    margin: 0 16px 16px 0;
    width: 280px;
    height: 158px;
    &--selected {
        outline: 3px solid map-get($blues, B300);
    }
    &__image {
        width: 280px;
        height: 158px;
        cursor: pointer;
    }
    &__details {
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        color: map-get($neutrals, N200);
    }

    .loading-item {
        height: 200px;
        display: inline-block;
        width: 300px;
        .skeleton {
            width: 100% !important;
            height: 100% !important;
        }
    }
}
