@import '../../../../styles/atlaskit/mixins';
@import '../../../../styles/atlaskit/colors';

.nexus-c-array {
    padding: 0.75rem 1.25rem;
    margin-bottom: 5px;
    .nexus-c-array__remove-button {
        cursor: pointer;
        position: absolute;
        right: 8px;
        top: 8px;
    }
    .nexus-c-array__add {
        text-align: right;
    }
    .nexus-c-array__objects {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;

        > div {
            flex: 0 32.5%;
            border: 1px solid map-get($light-neutral-colors, light-neutral-1);
            box-sizing: border-box;
            position: relative;
        }
    }
    .nexus-c-array__object {
        padding: 25px;
        margin-top: 15px;
    }
    .nexus-c-array__field {
        .nexus-c-field__label {
            color: map-get($neutrals, N300);
        }
        .nexus-c-field__value {
            > div {
                margin-top: 0;
            }
        }

        &.nexus-c-array__field-bold {
            color: map-get($neutrals, N300);
            font-weight: bold;
        }
        &.nexus-c-array__field-inline,
        &.nexus-c-array__field-bold {
            .nexus-c-field {
                > div {
                    display: flex;
                }
            }
        }
    }
}

.nexus-c-array__modal {
    .nexus-c-field__value {
        > div {
            margin-top: 0;
        }
    }
    .nexus-c-array__modal-buttons {
        text-align: right;
        .nexus-c-array__submit-button {
            margin-right: 6px;
        }
    }
}

.nexus-c-array__modal-title {
    text-transform: capitalize;
}
