@import '../../../../styles/atlaskit/mixins';
@import '../../../../styles/atlaskit/colors';

.nexus-c-field {
    padding: 0.75rem 1.25rem;
    margin-bottom: 5px;

    > div {
        display: flex;
    }

    .nexus-c-field__value-section {
        width: 100%;
    }

    .nexus-c-field__label {
        width: 25%;
        color: map-get($neutrals, N800);
    }

    &.nexus-c-field--error {
        background-color: rgb(242, 222, 222);
        color: rgb(169, 68, 66);

        .nexus-c-field__label {
            color: rgb(169, 68, 66);
        }
    }

    .nexus-c-field__placeholder {
        color: map-get($neutrals, N100);
    }

    .nexus-c-date-time-window-picker {
        padding: 0;
    }
}
