@import '../../../../styles/atlaskit/mixins';
@import '../../../../styles/atlaskit/colors';

.nexus-c-field {
    > div {
        display: flex;
    }

    .nexus-c-field__value {
        width: 75%;
    }

    .nexus-c-field__label {
        width: 25%;
        color: map-get($neutrals, N800);
    }
}
