@import '../../../styles/atlaskit/reset';
@import '../../../styles/atlaskit/theme';

.nexus-status-tag {
    border-radius: 3px;
    width: 75px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    color: #ffffff;

    &--completed {
        background: #36b37e;
    }

    &--manual,
    &--in-progress {
        background: #00b8d9;
    }

    &--pending {
        background: #737e91;
    }

    &--failed {
        background: #de350b;
    }

    &--on-hold {
        background: #ffc400;
    }

    &--fo-not-started {
        background: map-get($light-neutral-colors, light-neutral-1);
    }
    &--fo-in-progress {
        background: map-get($secondary-colors, teal);
    }
    &--fo-on-hold {
        background: map-get($secondary-colors, yellow);
    }
    &--fo-complete {
        background: map-get($secondary-colors, green);
    }
    &--fo-cancelled {
        background: map-get($secondary-colors, red);
    }
    &--fo-failed {
        background: map-get($secondary-colors, red);
    }
}
