.nexus-c-right-to-match-navigation {
    padding-top: 20px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
}

.nexus-c-right-to-match-navigation-arrow {
    &:hover {
        color: #666;
        cursor: pointer;
    }
}