.table-top-icon {
  font-size: 1.25em;
  color: #333333;
  padding: 5px;
}

.table-top-icon:hover {
  color: #5c656d;
}

.table-top-icon:active {
  color: #8c959d;
}

.table-top-text {
  position: relative;
  top: 6px;
}

html {
    overflow: hidden;
}