@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/colors';

.nexus-c-saved-table-dropdown {
    @include addSpacing('width', 100);
    @include margin(0, 0, 0, 10);
    display: flex;
    align-items: center;

    &__label {
        @include margin(0, 1, 0, 0);
    }

    &__select {
        width: 50%;
    }

    button {
        width: 100%;
        @include addSpacing('height', 10);

        > span {
            width: 100%;

            > span {
                text-align: left;
            }
        }
    }

    &__option-item {
        display: flex;
        justify-content: space-between;

        .nexus-cross-icon {
            visibility: hidden;
        }

        &:hover {
            .nexus-cross-icon {
                visibility: visible;
            }
        }

        &.item-create {
            display: flex;
            align-items: center;
            justify-content: left;

            svg {
                color: map-get($blues, B400);
                height: 15px;
                width: 15px;
            }
        }

        &--label {
            margin: 0 5px;
            color: map-get($blues, B400);
        }
    }
}

.nexus-select__group:first-of-type {
    border-bottom: 1px solid map-get($neutrals, N70);
    margin-bottom: 10px;
}

.nexus-select__group-heading {
    color: map-get($neutrals, N500);
}

.nexus-c-saved-table-dropdown__select {
    z-index: 2;
}
