.ingest-panel {
  width: 325px;
  border-right: 1px solid #737E91;
  padding: 48px 0;
  margin-right: 10px;
  color: #42526E;
  &__ingest-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 0 22px;
    &__title {
      display: flex;
      font-size: 29px;
      align-items: center;
      svg {
        margin-right: 16px;
      }
    }
    &__actions {
      display: flex;
      align-items: center;
      svg {
        cursor: pointer;
      }
    }
    .ingest-panel__ingest-header__actions--pop {
      margin-right: 20px;
      fill: #A5ADBA;
    }
  }
  svg {
    width: 20px;
    height: 20px;
    fill: #42526E;
  }
}