@import '~@vubiquity-nexus/portal-styles/scss/config';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/colors';
@import '~@portal/portal-components/styles/color-palette';

.nexus-c-status-rights-actions {
    cursor: not-allowed;
    position: relative;

    &--is-active {
        position: relative;
        cursor: pointer;
    }
}

.nexus-c-status-rights-actions__menu-item {
    @include margin(0, 3);
    color: palette(black, 20);
    white-space: nowrap; // Keep each option in one line
    padding-bottom: 0px;
    font-weight: bold;
    pointer-events: none;

    &--is-active {
        color: map-get($colors, nexus-secondary-color);
        color: palette(black, 55);
        pointer-events: all;
    }
}
