@import '../../../styles/config.scss';

.nexus-c-app-layout {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    min-height: 100%;
    width: 100%;
    height: 100%;

    .nexus-navbar-user {
        .dropdown-menu {
            right: 0;
            left: auto;
        }
    }
}

.nexus-c-app-layout__main {
    width: 100%;
    padding: 0;
    background-color: map-get($colors, primary);
    height: 100%;
    overflow-y: auto;
}
