
.nexus-c-toast__container {
    flex: 1;

    .type-success {
        h4, p {
            color: #1ea97c;
        }
    }

    .type-warn {
        h4, p {
            color: #cc8925;
        }
    }

    .type-error {
        h4, p {
            color: #ef4444;
        }
    }
}

.nexus-c-toast__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .nexus-c-toast__icon {
        font-size: 2rem;
    }
}