@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/colors';
@import '~@portal/portal-components/styles/color-palette';

.nexus-c-toast__container {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-word;
    text-overflow: ellipsis;

    .nexus-c-toast__row-without-padding {
        padding-left: 16px;
    }

    .nexus-c-toast__summary-title {
        font-size: 16px;
        font-weight: bold;
        color: palette(black, 100);
        padding: 0px;
    }

    .nexus-c-toast__detail-title {
        font-size: 12px;
        font-weight: bold;
        color: palette(black, 100);
        padding: 0px;
    }
}

.nexus-c-toast__icon-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5px;

    .nexus-c-toast__icon {
        font-size: 1.7rem;
    }
}
