@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/colors';
@import '~@vubiquity-nexus/portal-styles/scss/color-palette';

.nexus-c-toast__container {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .nexus-c-toast__summary-title {
        font-size: 13px;
        font-weight: bold;
        color: palette(black, 100);
    }

    .nexus-c-toast__detail-title {
        font-size: 10px;
        font-weight: bold;
        color: palette(black, 100);
    }
}

.nexus-c-toast__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .nexus-c-toast__icon {
        font-size: 2rem;
    }
}
