.nexus-c-title-metadata__load-container {
  display: flex;
  justify-content: end;
  min-height: 52px;
}

.nexus-c-title-metadata__select-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}