@import '../../../../styles/atlaskit/colors';

.nexus-c-modal-custom-input {
    padding: 5px;
    border: 2px solid map-get($neutrals, N40);
    border-radius: 3px;
    color: map-get($darkModeNeutrals, DN20);
    outline: none;
    width: 100%;
    font-size: 14px;
    &:hover {
        background: map-get($neutrals, N30);
    }
}

.nexus-c-modal-custom-input--isError {
    border: 2px solid map-get($reds, R400);
    color: map-get($reds, R400);
}

.nexus-c-modal-custom-input--read-only {
    margin-bottom: 10px;
}
