.nexus-c-person-avatar {
    width: 30px;
    height: 30px;
}

.nexus-c-person-type {
    margin-left: 10px;
}

.nexus-c-person-character-container {
    width: 100%;
}

.nexus-c-person-character {
    width: 100%;
}

.nexus-c-person-separator {
    margin-left: 10px;
}
