@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/colors';

.nexus-c-catalogue-owner {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nexus-c-catalogue-owner-select {
    @include addSpacing('width', 30);
    @include margin(0, 2, 0, 2.5);
}
