$app-layout: (
    content-min-width: 300px,
    content-max-width: 1370px,
    content-padding-horizontal: 20px,
);

$z-index: (
    z-index-0: 0,
    z-index-100: 100,
    z-index-500: 500,
    z-index-1000: 1000,
    z-index-1500: 1500,
);

$colors: (
    primary: #f2f2f2,
    nexus-primary-color: #939FB5, // TODO: refactor this
    nexus-secondary-color: #364767,
    nexus-title-color: #42526E,
    nexus-title-matching-primary-color: #4B5A74,
    nexus-title-matching-secondary-color: #666,
    nexus-tag-green: rgb(87, 217, 163),
    nexus-tag-yellow: rgb(255, 196, 0),
    nexus-tag-default: rgb(244, 245, 247),
    nexus-white: #FFFFFF,
    nexus-light-green: #2AC940,
    nexus-light-grey: #a5adba,
    warning: #DF1745,
);

$nexus-font: Arial, Helvetica, sans-serif;

