/* Mixins */
@import './config';

// Micro clearfix
// http://www.cssmojo.com/the-very-latest-clearfix-reloaded/
@mixin clearfix() {
    &::after {
        content: '' !important;
        display: block !important;
        clear: both !important;
    }
}

// Applies accessible hiding to elements
@mixin hidden-visually() {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}

//  media query ie specific
// TODO we have include-media package for this, FIX!
@mixin media-query-ie() {
    @media only screen and (-ms-high-contrast: none) {
        @content;
    }
}

@mixin addSpace($property, $number) {
    #{$property}: #{$number * $base-relative-spacing + 'rem'};
}
