@import '~@portal/portal-components/styles/color-palette';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';

// Variables
$button-height: 32px;
$button-font-size: 13px;
$element-margin-bottom: 18px;
$element-border-radius: 4px;
$element-height: 24px;
$element-border-20: 1px solid palette(black, 20);
$element-background-color-2: palette(black, 2);
$element-background-color-20: palette(black, 20);
$element-color-orange-80: palette(orange, 80);

// Field Wrapper
.p-field {
    position: relative;

    .p-inputtext.p-component,
    .p-dropdown.p-component.p-inputwrapper {
        border: $element-border-20;
    }

    &.p-field-error {
        .p-error-message {
            color: $element-color-orange-80;
        }

        > .p-inputtext.p-component {
            border: 1px solid $element-color-orange-80;
        }

        > .p-dropdown.p-component.p-inputwrapper {
            border: 1px solid $element-color-orange-80;
        }
    }
}

.nexus-c-field-label {
    margin-bottom: $element-margin-bottom;
    color: palette(black, 100);
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: normal;
}

// Buttons Related
.p-button {
    background: palette(black, 10);
    border: 1px solid palette(black, 10);
    height: $button-height;
    font-size: $button-font-size;

    &.p-button-outlined {
        &:enabled {
            border-radius: 8px;
            border: $element-border-20;
            background-color: palette(black, 10);

            &:hover {
                background-color: palette(blue, 20);
                border: 1px solid palette(blue, 20);
            }
            &:hover:active,
            &:active {
                background-color: $element-background-color-20;
                border: $element-border-20;
            }

            &:focus {
                box-shadow: none;
            }
            .p-button-label {
                color: palette(black, 80);
            }
        }

        &:disabled {
            background-color: palette(black, 0);
            border: 1px solid palette(black, 10);
            opacity: 1;

            svg,
            .p-button-label {
                color: $element-background-color-20;
                fill: $element-background-color-20;
            }
        }

        svg {
            width: 16px;
            height: 16px;
            margin: 0 4px;
        }

        &.p-button-secondary {
            &:enabled {
                background-color: palette(white, 0);
                &:hover {
                    background-color: palette(blue, 20);
                    border: 1px solid palette(blue, 20);
                }
                &:hover:active,
                &:active {
                    background-color: $element-background-color-20;
                    border: $element-border-20;
                }
            }
        }
    }

    &.p-button-text {
        &:enabled {
            border-radius: 8px;
            background-color: palette(black, 0);

            &:hover {
                background: palette(black, 5);

                svg {
                    fill: palette(black, 100);
                    color: palette(black, 100);
                }
            }

            &:hover:active,
            &:active {
                background-color: $element-background-color-20;

                svg {
                    fill: palette(black, 100);
                    color: palette(black, 100);
                }
            }

            &:focus {
                box-shadow: none;
            }

            .p-button-label {
                color: palette(black, 80);
            }
        }
        &:disabled {
            background-color: palette(black, 0);
            border: none;
            opacity: 1;

            svg,
            .p-button-label {
                color: $element-background-color-20;
                fill: $element-background-color-20;
            }
        }

        &.p-button-icon-only {
            width: 32px;
            margin-left: 12px;
            border: none;

            @media (max-width: 1600px) {
                margin-left: 0;
            }
        }

        .p-button-icon {
            width: 16px;
            height: 16px;
            margin: 0 4px;
            fill: palette(black, 55);
            color: palette(black, 55);
        }

        &.p-button-text-for-cell {
            @include padding(0, 1, 0, 1);
            height: 25px;
        }

        svg {
            width: 16px;
            height: 16px;
            margin: 0 4px;
            fill: palette(black, 55);
            color: palette(black, 55);
        }
    }

    &.p-custom-button {
        &:hover {
            svg {
                fill: palette(black, 100);
                color: palette(black, 100);
            }
        }

        &:hover:active,
        &:active {
            svg {
                fill: palette(black, 100);
                color: palette(black, 100);
            }
        }

        &.p-button-icon-only {
            margin-left: 12px;

            @media (max-width: 1600px) {
                margin-left: 0;
            }
        }
    }

    &.p-button-fit-container {
        width: 100%;
    }

    &.p-toast-button-link {
        width: fit-content;
        margin-top: 8px;

        .p-button-label {
            font-size: 13px;
            font-weight: bold;
            color: #1c90cc;
        }
    }

    &.p-toast-left-button {
        @include padding(0, 0, 0, 0);
        @include margin(2, 8, 0, 0);

        .p-button-label {
            font-size: 13px;
            font-weight: bold;
            color: #1c90cc;
        }

        &:focus {
            box-shadow: none;
        }
    }

    &.p-toast-right-button {
        @include padding(0, 0, 0, 0);
        @include margin(2, 0, 0, 0);

        .p-button-label {
            font-size: 13px;
            font-weight: bold;
            color: #1c90cc;
        }

        &:focus {
            box-shadow: none;
        }
    }

    // Icons
    &.p-button-icon-only.p-button-rounded {
        height: $button-height;
        font-size: $button-font-size;
        width: 2.4rem;
        padding: 0.75rem 0;
        border-radius: 50% !important;
    }

    // Links
    &.p-button-link {
        color: #0065ff;
        text-decoration: underline;
        font-size: 12px;
        padding: 0;
    }
}

// Toggle Buttons
.p-button.p-togglebutton {
    background-color: palette(white, 0);
    border: none;
    &:hover {
        background-color: palette(black, 5) !important;
    }
    &:hover:active {
        background-color: $element-background-color-20;
    }
    &:active {
        background-color: palette(black, 10) !important;
        .p-button-label {
            color: palette(black, 80);
        }
    }

    &.p-disabled {
        color: $element-background-color-20;
    }

    &.p-highlight {
        background-color: palette(black, 10);
        &:hover {
            background-color: palette(black, 5);
        }
        &:hover:active {
            background-color: $element-background-color-20;
        }
        &:active {
            background-color: palette(black, 10);
        }
        .p-button-label {
            color: palette(black, 80);
        }
    }

    &:focus {
        box-shadow: none;
    }
}

// Dialog Related
.p-dialog.p-component {
    box-shadow: 0 8px 30px 0 $element-background-color-20;
    border-radius: 8px;

    .p-dialog-header {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: 16px 32px;
        border-bottom: $element-border-20;
        .p-dialog-title {
            font-weight: bold;
            font-size: 26px;
        }
    }

    .p-dialog-content {
        padding: 16px 32px 32px 32px;
        .p-dialog-subheader {
            min-height: 48px;
        }
    }

    .p-dialog-footer {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top: $element-border-20;
        padding: 16px 32px;

        .p-button:not(:last-child) {
            margin: 0 16px 0 0;
            width: auto;
        }

        .p-button {
            margin: 0 0 0 0;
            width: auto;
        }
    }
}

.p-tag {
    &.p-component {
        background: palette(black, 10);
        border-radius: 2px;
    }

    .p-tag-value {
        color: palette(black, 80);
        font-size: 10px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

// Toasts
.p-toast {
    opacity: 1;

    .p-toast-message .p-toast-message-content {
        display: flex;
        align-items: center;

        .p-toast-message-text {
            @include margin(0, 0, 0, 10);

            width: 242px;
            display: inline-block;
            overflow-wrap: break-word;
        }

        .p-toast-icon-close {
            color: palette(black, 80);
        }
    }

    .p-toast-message.p-toast-message-warn,
    .p-toast-message.p-toast-message-success,
    .p-toast-message.p-toast-message-error {
        background: palette(white, 100);

        .p-toast-summary {
            font-size: 13px;
            font-weight: bold;
            color: palette(black, 100);
        }

        .p-toast-detail {
            font-size: 10px;
            font-weight: bold;
            color: palette(black, 100);
        }
    }

    .p-toast-message.p-toast-message-error {
        color: #aa214b;
        border: solid #aa214b;
        border-width: 0 0 0 6px;

        .p-toast-message-icon {
            color: #aa214b;
        }
    }
}

// Input Text
.p-inputtext {
    line-height: normal;

    &:enabled:hover {
        border-color: palette(black, 5);
    }

    &.p-component {
        width: 100%;
        margin-bottom: $element-margin-bottom;
        border-radius: $element-border-radius;
        background-color: $element-background-color-2;

        font-size: 13px;
        color: palette(black, 100);

        &:hover:active {
            border: $element-border-20;
            background-color: $element-background-color-2;
        }

        &:focus {
            border: 1px solid $element-background-color-20;
            background-color: $element-background-color-2;
            box-shadow: none;
        }

        //search inputtext field
        &.nexus-c-search__inputbox {
            border-radius: 24px;
            width: 640px;
            object-fit: contain;

            @media (max-width: 1600px) {
                width: 540px;
            }
        }
    }
}

// Calendar
.p-calendar {
    font-size: 13px;
    line-height: normal;
    color: palette(black, 100);

    &.p-component {
        .p-button {
            &:focus {
                box-shadow: none;
            }

            &.p-component {
                &.p-datepicker-trigger {
                    position: absolute;
                    right: 0;
                    border: none;
                    background-color: transparent;
                    color: palette(black, 100);
                }
            }
        }

        width: 100%;
        margin-bottom: $element-margin-bottom;
        border-radius: 20px;

        .p-inputtext {
            &.p-component {
                margin-bottom: 0;
            }
        }

        .p-button {
            &.p-component {
                &.p-datepicker-trigger {
                    height: inherit;
                }
            }
        }
    }
}

//spyglass for the inputs search field
.p-input-icon-left {
    .pi.pi-search {
        font-weight: bold;
        color: palette(black, 100);
        width: 16px;
        height: 16px;
    }
}

//Dropdown
.p-dropdown {
    &.p-component {
        width: 100%;
        margin-bottom: 18px;
        border-radius: $element-border-radius;
        box-shadow: none;
        font-size: 13px;
        color: palette(black, 100);
        letter-spacing: normal;

        &:hover:active {
            border: $element-border-20;
            background-color: $element-background-color-2;
        }
        &:focus {
            border: solid 1px $element-background-color-20;
            background-color: $element-background-color-2;
            box-shadow: none;
        }
    }

    &.p-disabled {
        opacity: 0.55;
    }

    &:not(.p-disabled) {
        &.p-focus {
            box-shadow: none;
            border: $element-border-20;
            background-color: $element-background-color-2;
            color: palette(black, 100);
        }
    }
}

//responsible for the dropdown menu when clicked
.p-dropdown-panel {
    //spyglass icon
    .p-dropdown-header {
        .p-dropdown-filter-icon {
            top: 21px;
        }
    }

    .p-dropdown-items {
        .p-dropdown-item {
            &.p-highlight {
                color: palette(black, 100);
                background-color: $element-background-color-2;
            }

            &:not(.p-highlight):not(.p-disabled) {
                color: palette(black, 100);
            }
        }
    }
}

//calendar month/year dropdown menu
.p-datepicker-group {
    .p-datepicker-header {
        .p-dropdown {
            width: auto;
            margin: 2px 8px;
        }
    }

    //removing the bold border black from the calendar
    .p-datepicker-calendar {
        thead {
            border: none;
        }

        tbody {
            border: none;
        }
    }
}

// Multiselect
.p-multiselect {
    &:not(.p-disabled):hover {
        border-color: $element-background-color-20;
    }

    &:not(.p-disabled).p-focus {
        box-shadow: none;
        border-color: $element-background-color-20;
    }

    &.p-component {
        width: 100%;
        margin-bottom: $element-margin-bottom;
        border-radius: $element-border-radius;
        background-color: $element-background-color-2;

        &.p-inputwrapper {
            &.p-inputwrapper-filled {
                box-shadow: none;
                color: palette(black, 100);
                letter-spacing: normal;

                &.p-inputwrapper-focus {
                    border: solid 1px $element-background-color-20;
                    background-color: $element-background-color-2;
                    box-shadow: none;
                }
            }

            //responsible for the multiselect-tags
            &.p-multiselect-chip {
                font-size: 13px;

                .p-multiselect-token {
                    border-radius: 2px;
                    background-color: palette(black, 5);
                    color: palette(black, 100);
                    font-weight: 600;

                    .p-multiselect-token-icon {
                        background-color: palette(black, 20);
                        border-radius: 50%;
                        color: palette(white, 100);
                        font-size: 12px;
                        box-shadow: none;

                        &:hover {
                            background-color: palette(black, 55);
                        }
                    }
                }
            }

            &.p-multiselect-chip:not(.p-disabled).p-focus {
                box-shadow: none;
                border-color: $element-background-color-20;
            }
        }
    }
}

.p-multiselect-item {
    font-size: 13px;
}

//responsible for the checkbox in the multiselect
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
    box-shadow: none;
    color: palette(black, 100);
    background-color: palette(black, 5);

    .p-checkbox .p-checkbox-box {
        border-radius: $element-border-radius;
        border: 2px solid $element-background-color-20;
        width: 20px;
        height: 20px;

        &:hover {
            border-color: palette(black, 55);
        }

        &.p-focus {
            box-shadow: none;
            border-color: palette(black, 55);
        }

        &.p-highlight {
            border-color: $element-background-color-20;
            background: palette(white, 100);

            &:hover {
                border-color: $element-background-color-20;
                background: palette(white, 100);
            }
        }
    }
}

.p-multiselect-panel {
    .p-multiselect-header {
        .p-multiselect-filter-container {
            .p-multiselect-filter-icon {
                top: 21px;
            }
        }
    }
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: palette(black, 55);
}

// Field Error Message
.p-error-message {
    position: absolute;
    left: 2px;
    bottom: 0;
    font-size: 12px;
    color: rgb(222, 53, 11);
}

// Field Required Asterisk
.p-field-required {
    color: rgb(222, 53, 11);
}

// TabMenu Related
.p-tabmenu {
    .p-tabmenu-nav {
        background: none;
        border: none;

        .p-tabmenuitem,
        .p-tabmenuitem:not(.p-highlight):not(.p-disabled):hover {
            @include margin(0, 0, 1, 3);

            .p-menuitem-link {
                border: none;
                background: none;
                white-space: nowrap;
                color: palette(black, 55);
                padding: 1.25rem;
                font-weight: 700;
                border-radius: 6px;
                transition: box-shadow 0.2s;
                height: 40px;
            }

            .p-menuitem-link:hover {
                color: palette(black, 100);
                background: palette(black, 5);
                text-decoration: none;
            }

            .p-menuitem-link:active {
                color: palette(black, 100);
                background: $element-background-color-20;
            }

            .p-menuitem-link:focus {
                box-shadow: none;
            }
        }

        .p-tabmenuitem.p-highlight {
            .p-menuitem-link,
            .p-menuitem-link:hover {
                background: palette(black, 10);
                color: palette(black, 100);
                border: none;
                height: 40px;
            }

            .p-menuitem-link:focus {
                box-shadow: none;
            }
        }
    }
}

// Panel
.p-panel {
    &.p-component {
        .p-panel-header {
            border-radius: 5px;
        }
    }
}

.checkbox-label {
    margin-left: 5px;
    display: inline-block;
}

// Checkbox
.p-checkbox-wrapper {
    margin-bottom: $element-margin-bottom;

    *.nexus-c-field-label {
        margin-bottom: 0;
    }

    .p-checkbox .p-checkbox-box {
        border-radius: $element-border-radius;
        border: 2px solid palette(black, 20);
        width: 20px;
        height: 20px;

        &:hover {
            border-color: palette(black, 55);
        }

        &.p-focus {
            box-shadow: none;
            border-color: palette(black, 55);
        }

        &.p-highlight {
            border-color: $element-background-color-20;
            background: palette(white, 100);

            &:hover {
                border-color: $element-background-color-20;
                background: palette(white, 100);
            }
        }
    }
}

.p-checkbox {
    .p-checkbox-box {
        &.p-highlight {
            border-color: $element-background-color-20;
            background: palette(white, 100);
        }

        .p-checkbox-icon {
            font-size: 13px;
            color: palette(blue, 80);
            font-weight: 900;
        }
    }
}

.p-checkbox:not(.p-checkbox-disabled) {
    .p-checkbox-box {
        &.p-focus {
            border-color: $element-background-color-20;
        }

        &.p-highlight {
            box-shadow: none;

            &:hover {
                border-color: $element-background-color-20;
                background: palette(white, 100);
            }
        }
    }
}

// Scrollbar styling
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

*::-webkit-scrollbar-track {
    background: #ebebeb;
}

*::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #b3b3b3;
    border: 1px solid #ebebeb;
}

//Badge related
.p-badge {
    &.p-badge-dot {
        width: 8px;
        min-width: 8px;
        height: 8px;
        background-color: $element-background-color-20;

        &.p-badge-success {
            background-color: palette(green, 100);
        }

        &.p-badge-warning {
            background-color: palette(orange, 100);
        }

        &.p-badge-danger {
            background-color: palette(red, 100);
        }

        &.p-badge-info {
            background-color: palette(blue, 100);
        }
    }
}

// Progress Spinner
.p-progress-spinner {
    width: 50px;
    height: 50px;
    .p-progress-spinner-circle {
        animation: none;
        stroke: $element-background-color-20;
    }
}
