// Buttons Related

.p-button {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    &.p-button {
        &:enabled {
            background: rgba(0, 0, 0, 0.1);
            border: none;

            &:hover {
                background: rgba(0, 0, 0, 0.05);
            }

            &:active {
                background: #1c90cc;
                .p-button-label {
                    color: white;
                }
            }

            &:focus {
                box-shadow: none;
            }

            .p-button-label {
                color: #000000;
            }
        }

        &:disabled {
            background-color: rgba(0, 0, 0, 0);
            border: none;
            .p-button-label {
                color: rgba(0, 0, 0, 0.2);
            }
        }
    }

    &.p-button-text:enabled {
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0);
        &:hover {
            background: rgba(0, 0, 0, 0.05);
        }
        &:focus {
            box-shadow: none;
        }
        .p-button-label {
            color: #000000;
        }
    }
}

// Dialog Related

.p-dialog.p-component {
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.2);
    //border: solid 1px rgba(0, 0, 0, 0.2);
    //background-color: #fff;
    border-radius: 8px;

    .p-dialog-header {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: 16px 32px;
        border-bottom: 1px solid #f1f1f1;
        .p-dialog-title {
            font-weight: bold;
            font-size: 26px;
        }
    }

    .p-dialog-content {
        padding: 16px 32px 32px 32px;
        .p-dialog-subheader {
            min-height: 48px;
        }
    }

    .p-dialog-footer {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top: 1px solid #f1f1f1;
        padding: 16px 32px;
        .p-button.p-button:enabled {
            border-radius: 8px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            background-color: rgba(0, 0, 0, 0.1);
            &:hover {
                background-color: rgba(28, 144, 204, 0.2);
            }
            &:focus {
                box-shadow: none;
            }
        }

        .p-button.p-button-text:enabled {
            border-radius: 8px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            background-color: rgba(0, 0, 0, 0);
            &:hover {
                background-color: rgba(28, 144, 204, 0.2);
            }
            &:focus {
                box-shadow: none;
            }
        }

        .p-button-label {
            color: #000000;
        }

        .p-button-icon {
            color: #000000;
        }
    }
}
