@import '../../../../../styles/config.scss';

.nexus-c-services-table {
    display: flex;
    flex-direction: column;
    width: 100%;

    h5 {
        margin: 0;
    }

    .nexus-c-nexus-grid {
        .ag-cell-value {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    &__checkbox {
        // AtlasKit Checkbox override
        label {
            justify-content: center;
        }
    }
}

.nexus-c-services-table__header {
    display: flex;
    flex-direction: row;
}

.nexus-c-services-table__subtitle {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-left: 15px;
    color: map-get($colors, nexus-title-matching-secondary-color);
}

.nexus-c-services__close-icon {
    cursor: pointer;
}

.nexus-c-services-table__add-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px 0 auto;

    svg {
        height: 15px;
        width: 15px;
        cursor: pointer;
    }
}
