.nexus-c-rights-matching-titles-table-wrapper {
    &--is-disabled {
        pointer-events: none;
    }

    .nexus-c-nexus-grid {
        height: calc(100vh - 550px);
        min-height: 200px;
    }
}

.nexus-c-rights-matching-titles-table__cast-crew > div > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
