@import '../../../../styles/config';

.nexus-c-event-header__field {
    display: flex;
    height: auto;
    margin: 12px 0;
    color: map-get($colors, nexus-secondary-color);
}

.nexus-c-event-header__field-label {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    color: map-get($colors, nexus-primary-color);
}

.nexus-c-event-header__field-value {
    width: 60%;
    overflow-wrap: break-word;
}

.nexus-c-event-header__secondary-fields {
    height: auto;
    transition: height 0.2s ease;

    &--is-hidden {
        height: 0;
        visibility: hidden;
    }
}

.nexus-c-event-header__secondary-fields-toggle {
    cursor: pointer;
    color: map-get($colors, nexus-secondary-color);

    &:hover {
        text-decoration: underline;
    }
}
