@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/colors';

.cloud-upload-button {
    @include margin(0, 6);
    @include padding(0);
    cursor: pointer;
    > span {
        transition: 0.2s;
        &:hover {
            color: map-get($blues, B200);
        }
    }
    > input {
        display: none;
    }
}

.cloud-upload-button__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    flex-shrink: 0;
    > svg {
        max-height: 100%;
        max-width: 100%;
        overflow: hidden;
        pointer-events: none;
    }
}
