@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';

.ingest-upload-with-border {
    @include padding(2.5, 5);
    border-top: 1px solid map-get($light-neutral-colors, light-neutral-1);

    &__input {
        display: none;
    }
}

.ingest-upload {
    padding: 0px 16px;


    &__input {
        display: none;
    }
}