@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';

.ingest-upload-with-border {
    @include padding(2.5, 5);
    border-top: 1px solid map-get($light-neutral-colors, light-neutral-1);

    &__input {
        display: none;
    }
}

.ingest-upload {
<<<<<<< HEAD
    @include padding(2.5, 5);
=======
    padding: 0px 16px;
>>>>>>> 89fb7d4f0e7c9978d5362f749f3c97d6fb0f352b

    &__input {
        display: none;
    }
}
