@import '../../../../../styles/legacy/_variables';

.advanced-search-btn {
    width: 40px !important;
}

.dashboard-tab {
    z-index: 500;
    margin-left: 30px;
}

.red {
    color: green;
}

.vu-free-text-search {
    z-index: 100;
    transition: margin 300ms;
    margin-bottom: 26px;
}

.vu-free-text-search.hide {
    margin-top: -50px;
    margin-bottom: 0;
    transition: margin 300ms;
}

.vu-advanced-search-panel {
    z-index: 100;
    margin-bottom: 0;

    max-height: 1000px;
    transition: max-height 300ms, margin 300ms;
    overflow: hidden;
}

.vu-advanced-search-panel.hide {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    max-height: 0;

    transition: max-height 300ms, padding-top 300ms, padding-bottom 300ms;
}
