@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';

.nexus-c-modal-content__subtitle-container {
  min-height: 48px;
}

.nexus-c-modal-content__subtitle {
  @include margin(0, 0, 6, 0);
  font-size: 16px;
  font-weight: bold;
}

.nexus-c-modal-content__fields {
  min-height: 96px;
}