@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';

.servicing-order {
    display: flex;
    min-height: 100%;

    &__left {
        display: flex;
        flex-direction: column;
        min-width: 390px;
        max-width: 400px;
        border-right: 1px solid map-get($light-neutral-colors, light-neutral-2);
    }

    &__right {
        @include padding(6, 5, 0);
        width: 100%;
        background-color: white;
        overflow: auto;
    }
}
