@import '../../../../../styles/config.scss';

.nexus-c-sources {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__header {
        display: flex;
        flex-direction: column;
    }

    .nexus-c-nexus-grid {
        width: 17.7rem; // Just display 1 column
        height: 14rem; // grid height - 5 rows
    }
}
