@import '~@vubiquity-nexus/portal-styles/scss/config.scss';

.nexus-c-sources {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__header {
        display: flex;
        flex-direction: column;
    }

    .nexus-c-nexus-grid {
        height: 14rem; // grid height - 5 rows
    }
}

.nexus-c-sources_stg {
    // todo remove this class when dete api works ok in QA
    display: flex;
    flex-direction: column;
    width: 100%;

    &__header {
        display: flex;
        flex-direction: column;
    }

    .nexus-c-nexus-grid {
        width: 14rem;
        height: 14rem; // grid height - 5 rows
    }
}

.nexus-c-source-table__add-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px 0 auto;

    svg {
        height: 15px;
        width: 15px;
        cursor: pointer;
    }
}
