@import '../../../../../styles/config.scss';

.nexus-c-sources {
        display: flex;
        flex-direction: column;
        width: 100%;

    &____header {
        display: flex;
        flex-direction: column;
    }

    &__title {
        padding-bottom: 1.75rem;
    }

    &__close-icon {
        cursor: pointer;
    }

    .nexus-c-nexus-grid {
        width: 17.7rem;  // Just display 1 column
    }
}
