[col-id='matchButton'] .ag-react-container,
[col-id='duplicateButton'] .ag-react-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.title-selection-radio__selected {
    pointer-events: none;
}
