.nexus-c-emphasized-cell-renderer {
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 3px;
    padding: 2px 3px;
    width: min-content;
    line-height: 100%;
    margin-top: 5px;

    &--is-green {
        background-color: #36b37e;
    }

    &--is-teal {
        background-color: #00b8d9;
    }

    &--is-yellow {
        background-color: #ffa700;
    }

    &--is-red {
        background-color: #de350b;
    }

    &--is-grey {
        background-color: #737e91;
    }
}
