.nexus-c-audit-history-table{
  margin-bottom: 50px;
  .nexus-c-nexus-grid {
    height: 250px;
    .ag-cell{
      padding: 0;
      justify-content: center;
      display: flex;
    }
  }
  .ag-popup{
    .ag-tooltip-custom{
      min-width: 0!important;
      position: absolute;
    }
  }
}