@import '~@vubiquity-nexus/portal-styles/scss/config.scss';

.nexus-c-right-to-match-navigation {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nexus-c-right-to-match-navigation__icon-button {
    line-height: 0;
    font-size: 0;
    cursor: pointer;
}

.nexus-c-right-to-match-navigation__icon {
    line-height: 0;
    font-size: 0;
}

.nexus-c-right-to-match-navigation__arrow {
    &:hover {
        color: #666;
        cursor: pointer;
    }
}

.nexus-c-right-to-match-navigation__data {
    color: map-get($colors, nexus-primary-color);
    font-size: 16px;
    font-family: $nexus-font;
}

.nexus-c-right-to-match-view__section-message {
    color: map-get($colors, nexus-secondary-color);
    font-weight: 500;
    font-family: $nexus-font;
    margin: 0;
    padding: 0;
}
