.nexus-c-feedback__select {
    padding-top: 10px;
}

.nexus-c-feedback__textarea {
    padding-top: 30px;
}

.nexus-c-feedback__btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px 5px 10px 5px;
}

.nexus-c-feedback__button {
    margin-left: 20px;
}
