@import '~@portal/portal-components/styles/color-palette';

.nexus-c-settings-page {
    // TODO: Remove background
    background: palette(white, 100);
    gap: 20px;
    .nexus-c-settings-content {
        overflow: hidden;
        .nexus-c-row-entity,
        .nexus-c-entity {
            padding: 0 0 0 15px;
        }

        .nexus-c-row-entity {
            border-radius: 10px;
        }
    }
}
