.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Input__InputElement-sc-1o6bj35-0 {
    //width: 415px;
}

.css-1rmy9fa {
    height: inherit !important;
}

.col-md-auto:first-child {
    width: 400px;
}
