@import '../../../styles/atlaskit/mixins';
@import '../../../styles/atlaskit/colors';

.nexus-c-dynamic-form {
    width: 80%;
    margin: auto;
}

.nexus-c-dynamic-form__tab-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    top: 131px;
    // TODO: Change background color for the app.
    // (Not part of atlaskit's colors, but used as default background)
    background-color: #fff;
    z-index: 1000;
}

.nexus-c-dynamic-form__tab {
    display: flex;
    justify-content: center;
    @include padding(1, 6);
    border-bottom: 1px solid map-get($neutrals, N40);
    cursor: pointer;
    transition: color 0.2s ease-in;

    &:hover {
        color: map-get($blues, B400);
    }

    &--is-active {
        color: map-get($blues, B400);
        border-bottom: 2px solid map-get($blues, B400);
        cursor: default;
    }
}

.nexus-c-dynamic-form__section-title {
    @include padding(13, 0, 2);
    font-weight: bold;
    border-bottom: 2px solid map-get($neutrals, N40);
}

.nexus-c-dynamic-form__cancel-button {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1000;
}

.nexus-c-dynamic-form__submit-button {
    position: absolute;
    top: 24px;
    right: 100px;
    z-index: 1000;
}

.nexus-c-dynamic-form__edit-button {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1000;
}
