.nexus-c-rights-repository {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  min-height: 400px;
  padding: 24px;
  padding-bottom: 0;
  .nexus-c-custom-actions-cell-renderer svg {
    max-width: initial;
  }
}
