@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/colors';

.choose-artwork {
    background: map-get($neutrals, N0);
    display: flex;
    flex-flow: column;
    height: 100%;
    &__header {
        flex: 0 1 auto;
        padding: 10px 24px;
        background: map-get($neutrals, N20);
        color: map-get($neutrals, N800);
        font-size: 20px;
        span {
            margin-right: 5px;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        padding: 24px;
    }

    .artwork-items {
        flex: 1 1 auto;
    }

    .scroll-item {
        display: inline-block;
        height: 200px;
    }

    .loading-item {
        height: 200px;
        display: inline-block;
        width: 300px;
        .skeleton {
            width: 100% !important;
            height: 100% !important;
        }
    }

    .artwork-actions {
        flex: 0 1 40px;
        display: flex;
        align-items: center;
        margin: 0 20px;
        height: 54px;
        padding: 10px 0;
        border-bottom: 2px solid map-get($neutrals, N40);
        label {
            margin: 0;
        }
    }
}
