@import '../../styles/atlaskit/colors';

.choose-artwork {
    background: map-get($neutrals, N0);
    &__header {
        padding: 10px 24px;
        background: map-get($neutrals, N20);
        color: map-get($neutrals, N800);
        font-size: 20px;
        span {
            margin-right: 5px;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        padding: 24px;
    }
}
