.nexus-c-bulk-matching-review {
    display: flex;
    flex-direction: column;
}

.nexus-c-bulk-matching-review__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 100px;
    min-width: 100px;
}
