ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

content {
    display: block;
    width: 98%;
}

body {
    font-family: 'Muli', sans-serif;
    padding: 0;
    -webkit-text-size-adjust: none;
    font-size: 1.1em;
}

a {
    color: #1a1a1a;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #007bff;
}

img {
    max-width: 100%;
}

a img {
    border: 0;
    outline: 0;
}

.navbar-NEXUS {
    background-color: #fff;
    font-size: 1em !important;
    z-index: 1000;
}

.main-content {
    margin-top: 40px;
}

.header-logo {
    padding-top: 13.5rem;
    text-align: center;
}

.nav-container {
    margin: 0px 8px;
}

//.navActive {
//  background-color: #1a1a1a;
//  //height: 20px;
//  border-radius: 28px;
//  //margin-top: 15px;
//}
//
//.navActive a {
//  color: #fff;
//  //margin-top: -15px;
//}

.navActive {
    padding-bottom: 2px;
    border-bottom: solid 2px black;
}

.leftSide-filterBox {
    background-color: #d5d5d5;
    min-height: 1100px;
    width: 200px;
    /*max-width: 488px;*/
    padding: 14px 14px;
}

.rightSide-content {
    padding: 4px 14px;
}

.stylish-input-group .input-group-append {
    background: white !important;
    border-radius: 0 28px 28px 0;
    border: 1px solid #ccc;
}

.stylish-input-group .input-group-append button {
    color: gray;
    border-radius: 0 28px 28px 0;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

.stylish-input-group .input-group-append button:disabled {
    background: #e9ecef;

    opacity: 1;
}

.stylish-input-group .input-group-append button:hover {
    color: black;
}

.stylish-input-group .input-group-append button:hover:disabled {
    color: gray;
}

.stylish-input-group .input-group-append button:active,
.stylish-input-group .input-group-append button:focus {
    outline: none !important;
    box-shadow: none;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-radius: 28px;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

.search-bar {
    margin-top: 10px;
    width: 96% !important;
}

.results-text {
    margin: 10px 0;
}

#base-login {
    margin: auto;
}

.base-login-input {
    width: 288px;
    border-radius: 28px;
    margin: 15px;
}

.forgot {
    margin: 15px;
}

.login-image {
    margin-top: 150px;
    margin-bottom: 33px;
}

.btn-login {
    border-radius: 28px;
    min-width: 100px;
}

.nx-container-margin {
    margin: 0 16px;
}

.btn {
    border-radius: 28px;
}
