/* REMOVED: Unused styles, see CustomDateFilter.scss
.nexus-c-date-time-window-picker {
    display: grid;
    grid-template-columns: 7fr 7fr 4fr;
    grid-template-rows: minmax(0, auto) 1fr;
    grid-column-gap: 50px;
    align-items: start;

    & > * {
        grid-row: -1;
    }
}

.nexus-c-date-time-window-picker__label {
    grid-row: 1;
    grid-column: 1/-1;
}
*/
