@import '../../styles/config.scss';

.nexus-c-title {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    color: map-get($colors, nexus-title-color);
    font-family: $nexus-font;

    &--small {
        font-size: 20px;
    }
}

.nexus-c-title__name {
    display: flex;
    color: #000;
}
