@import '../../styles/config.scss';

.nexus-c-title {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    color: map-get($colors, nexus-title-color);
    font-family: $nexus-font;

    &--small {
        font-size: 20px;
    }
    &__label {
        display: flex;
        margin-top: 20px;
        color: map-get($colors, nexus-title-matching-primary-color);
    }
    &__sub-label {
        color: map-get($colors, nexus-title-matching-secondary-color);
        margin: 20px 0 -10px 0;
        font-size: 16px;
    }
    &__name {
        display: flex;
        color: #000;
    }
    &__inline-label {
        margin: 5px 0 -10px 0;
    }   
}