.nexus-c-title {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 18px;
}

.nexus-c-title__name {
    display: flex;
    color: #000;
}


