.rights-more-actions{
  position: relative;
  svg {
    cursor: pointer;
  }
  .rights-more-actions__menu{
    position: absolute;
    top: 30px;
    border: 1px solid #A5ADBA;
    background: #FFFFFF;
    z-index: 1;
    padding: 10px;
    display: none;
    &.open {
      display: block;
    }
  }
  .view-history-link {
    font-size: 14px;
    white-space: nowrap;
    display: inline-block;
    top: 0;
  }
}