/* Global styling */
// TODO: Add AtlasKit reset when legacy components are removed
// @import '@atlaskit/css-reset'; // AtlasKit official reset
@import './reset';
@import './box-sizing';
@import './config';
@import './utilities';
@import './color-palette.scss';

// Basics
html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    overscroll-behavior-y: contain;
    font-family: $nexus-font !important;
    overflow-x: hidden;
}

.required::after {
    content: ' * ';
    color: red;
}
