/* Global styling */

@import './reset';
@import './box-sizing';
@import './config';
@import './utilities';
@import './atlaskit/mixins';

// Basics
html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    overscroll-behavior-y: contain;
    font-family: $nexus-font !important;
    overflow-x: hidden;
}

.required::after {
    content: ' * ';
    color: red;
}

.nexus-c-page-container {
    @include padding(6, 6, 3, 6);
}
