@import './config';

.nexus-u-margin-left-small {
    margin-left: 4px !important;
}

.nexus-u-margin-right-small {
    margin-right: 4px !important;
}

.ag-body-horizontal-scroll .ag-horizontal-left-spacer {
    overflow-x: auto;
}
