.nexus-c-custom-date-range-filter {
    padding: 10px 5px 10px 10px;
    .nexus-c-date-time-window-picker {
        display: flex;
        flex-direction: column;
        align-items: normal;
        .nexus-c-date-time-window-picker__start-date {
            margin-bottom: 10px;
        }
    }
}
