@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';

.nexus-c-avails-ingest {
    position: relative;
    display: flex;
    background-color: map-get($light-neutral-colors, light-neutral-6);
    justify-content: space-between;
    border: 1px solid map-get($mid-neutral-colors, mid-neutral-7);
    @include padding(3);
    @include addSpacing(margin-bottom, 5);

    &__avail-id {
        @include addSpacing(padding-left, 7.5);
        font-size: 11px;
        color: #737e91;
    }

    &:hover {
        .nexus-c-avails-ingest__cross-icon {
            display: block;
        }
    }

    &__cross-icon {
        display: none;
        position: absolute;
        @include addSpacing(right, -3);
        @include addSpacing(top, -3);
        svg {
            @include addSpacing(height, 6);
            @include addSpacing(width, 6);
            fill: map-get($dark-neutral-colors, dark-neutral-4);
            cursor: pointer;
            background: map-get($light-neutral-colors, light-neutral-6);
            border-radius: 50%;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;

        .ingest-status {
            @include addSpacing(padding-left, 7.5);
            width: 100%;
        }
    }

    &__stats {
        @include addSpacing(margin-left, 4);
        flex-basis: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .ingest-report {
            @include addSpacing(padding-right, 4);
            @include addSpacing(margin-top, 0);
            border-right: 1px solid map-get($mid-neutral-colors, mid-neutral-7);
        }
    }

    &__email {
        @include addSpacing(margin-left, 5);
    }

    &__download {
        @include margin(0, 2);
        display: flex;
    }

    &__download,
    &__email {
        svg {
            @include addSpacing(width, 7);
            fill: map-get($mid-neutral-colors, mid-neutral-7);
            cursor: pointer;
        }
    }
}
