.nexus-c-panel-header {
    cursor: pointer;

    .nexus-c-panel__icon {
        text-align: center;
        cursor: pointer;
        width: 25px;
        height: 20px;
    }
}

.nexus-c-col-margin-bottom {
    margin-bottom: 20px;
}
