@import '../../../../../../styles/atlaskit/mixins';

.picker {
    &__header {
        @include margin(5, 0, 0, 0);
        &-title {
            @include margin(3, 0, 0, 0);
            b {
                font-size: 1rem;
            }
            p {
                @include margin(1, 0, 0, 0);
            }
        }
    }
    &__service-panel {
        @include padding(3, 2, 0, 0);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        @include padding(3, 0, 0, 0);
        &-warning {
            color: red;
        }
        &-buttons {
            @include addSpacing('width', 35);
            display: flex;
            justify-content: space-between;
        }
    }
}

b {
    font-size: 0.9rem;
}

hr.solid {
    border-top: 1px solid lightgray;
}
