html {
    overflow-x: hidden;
}

/* Style the tab */
.tab {
    overflow: hidden;
    margin-left: 20px;
}
.tablinks {
    border: none;
    border: 1px solid #999;
    margin-right: 1px;
}

/* Style the buttons that are used to open the tab content */
.tab span {
    background-color: inherit;
    float: left;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-bottom: 0;
    border-bottom-style: none;
}
.add-local {
    border: none;
    margin-left: 5px;
    padding: 20px !important;
}

/* Change background color of buttons on hover */
.tab span:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab span.active {
    background-color: #ccc;
}

.ag-font-style {
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    user-select: text !important;
}

.ag-theme-balham:not(.nexus-c-nexus-grid) {
    .ag-cell {
        padding: 0;
    }
}

#territoryMetadataCreate,
#territoryMetadataEdit,
#editorialMetadataCreate,
#editorialMetadataEdit,
#editorialMetadataTabs,
#territoryMetadataTabs,
#titleRatingTabs,
#ratingCreate,
#coreMetadataEditMode,
#coreMetadataReadOnlyMode {
    border: 2px solid #999;
    width: 98%;
    padding: 30px;
    margin: auto;
    background: #fff;
}
