@import '../../../styles/config';

$width: (
  extended: 95vw,
  full: 100vw,
  medium: 480px,
  narrow: 360px,
  wide: 600px,
);
$sizes: full, narrow, extended, medium, wide;
$positions: left, right;

.nexus-c-drawer {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: map-get($colors, nexus-white);
  z-index: map-get($z-index, z-index-1000);
  transition: transform 200ms ease-in;

  // Creates classes for each combination of positions and sizes
  @each $position in $positions {
    @each $size in $sizes {
      // Move the drawer off-screen based on position and width
      &--is-#{$position}#{&}--is-#{$size}-width {
        #{$position}: -#{map-get($width, #{$size})};
      }

      // Set drawer widths
      &--is-#{$size}-width {
        width: map-get($width, #{$size});
      }

      // When drawer is open, apply transformation based on position and size
      &--is-#{$size}-width#{&}--is-open {
        &.nexus-c-drawer--is-right {
          // If the drawer is on the right side, we want it moving to the left side
          transform: translateX(-#{map-get($width, #{$size})});
        }
        &.nexus-c-drawer--is-left {
          // If the drawer is on the left side, we want it moving to the right side
          transform: translateX(map-get($width, #{$size}));
        }
      }
    }
  }
}

.nexus-c-drawer__close-btn {
  position: absolute;
  top: 0;

  @each $position in $positions {
    &--is-#{$position} {
      #{$position}: 0;
    }
  }
}
