@import '../../../styles/config';

$width: (
  extended: 95vw,
  full: 100vw,
  medium: 480px,
  narrow: 360px,
  wide: 600px,
);
$sizes: full, narrow, extended, medium, wide;

.nexus-c-drawer {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: map-get($colors, nexus-white);
  z-index: map-get($z-index, z-index-1000);
  transition: width 500ms;
  width: 0;
  overflow: auto;

  &__header {
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    display: none;
    &--title {
      font-size: 29px;
    }
    svg {
      cursor: pointer;
      width: 15px;
      height: 15px;
      fill: #A5ADBA;
    }
  }
  &.nexus-c-drawer--is-open {
    .nexus-c-drawer__header {
      display: flex;
    }
  }

  // Creates classes for each combination of positions and sizes
  @each $size in $sizes {
    // Set drawer widths
    &--is-#{$size}-width.nexus-c-drawer--is-open {
      width: map-get($width, #{$size});
    }
  }
}
