.UserAvatarTenantsSelection {
    .tenant-selected-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        padding: 8px;

        .tenantDescription {
            display: flex;
            align-items: center;
            .tenantIcon {
                margin-right: 10px;
                margin-left: 10px;
            }

            .tenantName {
                // margin-left: 10px;
            }
        }
        .actionIcon {
        }
    }

    .tenant-option-item {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .tenantName {
            padding: 12px;
        }

        .tenantName:hover {
            background-color: rgba(128, 125, 125, 0.103);
        }

        .p-divider-horizontal.TenantSelectionDivider {
            margin: 0.5rem 0;
        }
    }
    .p-tieredmenu.TenantSelection {
        width: 100%;
        border: 0;

        .p-menuitem-active > .p-submenu-list {
            max-height: 160px;
            overflow-y: scroll;
            padding: 16px;
        }
    }
    .p-tieredmenu.TenantSelection:hover {
        background-color: rgba(128, 125, 125, 0.103);
    }
}
