.table-top-icon {
    font-size: 1.25em;
    color: #333333;
    padding: 5px;
}

.table-top-icon:hover {
    color: #5c656d;
}

.table-top-icon:active {
    color: #8c959d;
}

.table-top-text {
    position: relative;
    top: 6px;
}

html {
    overflow-x: hidden;
}

.ag-font-style {
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    user-select: text !important;
}

.ag-header-cell {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
}

.ag-theme-balham:not(.nexus-c-nexus-grid) {
    background-color: #ffffff;
    .ag-header,
    .ag-floating-top,
    .ag-body {
        background-color: #ffffff;
    }

    .ag-header-cell {
        background-color: #050505;
        color: #ffffff;
        border-left: 2px solid white;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 0px none rgb(33, 37, 41);
        line-height: 52px;
    }

    .ag-popup-child {
        overflow: visible;
    }

    .ag-header-cell.ag-header-cell-sortable::after {
        display: none;
    }

    .ag-header-cell-label {
        font-family: 'Muli', sans-serif;
        font-size: 17.6px;
        font-weight: 400;
    }

    .ag-row {
        font-family: 'Muli', sans-serif;
        font-size: 17.6px;
        font-weight: 400;
        color: rgb(33, 37, 41);
        background-color: initial;
        .ag-react-container {
            line-height: 48px;
        }
        .ag-cell {
            border-collapse: collapse;
            border-left: 2px solid white;
            border-top: 2px solid white;
            border-right: 1px solid rgba(0, 0, 0, 0.2);
            border-bottom: 0px none rgb(33, 37, 41);

            .ag-selection-checkbox {
                line-height: 48px;
            }
        }
    }

    .ag-row-even {
        .ag-cell {
            background-color: rgba(51, 51, 51, 0.13);
        }
    }

    .ag-row-odd {
        .ag-cell {
            background-color: rgba(51, 51, 51, 0.07);
        }
    }

    .ag-row-selected {
        background-color: inherit;
        .ag-cell {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

    .ag-header-icon {
        opacity: 1 !important;
    }

    .ag-icon-asc,
    .ag-icon-desc,
    .ag-icon-none {
        opacity: 1;
    }
}
