.servicing-order{
  display: flex;
  height: 100%;
  &__left {
    display: flex;
    flex-direction: column;
    min-width: 345px;
    border-right: 1px solid #DCDCDC;
    padding: 24px 0 0;
  }
  &__right {
    padding: 24px 20px 0;
  }
}