@import '~@vubiquity-nexus/portal-styles/scss/config';

.nexus-c-status-check {
    height: 100%;
}

.nexus-c-status-check__message {
    margin: 20px 0;
}

.nexus-c-status-check__btn-wrapper {
    width: 100%;
    display: flex;
}

.nexus-c-status-check__button {
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.nexus-c-status-check__table--invalid {
    color: map-get($colors, nexus-warning);
}
