.nexus-c-status-check {
    height: 100%;
}

.nexus-c-status-check__message {
    margin: 20px 0;
}

.nexus-c-status-check__button {
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
