@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/colors';

.nexus-c-dop-tasks-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include margin(6);

    .nexus-c-dop-tasks-view__refresh-btn {
        margin-left: auto;
    }
    .nexus-c-icon-button {
        background-color: map-get($neutrals, N30);
    }
}

.nexus-c-dop-tasks-header__label {
    font-size: 29px;
    color: map-get($neutrals, N800);
}
