@import '../../../../styles/atlaskit/mixins.scss';

.nexus-c-servicing-orders-table-status-tooltip {
    display: inline-flex;
    flex-direction: column;
    @include padding(3);

    &__fields {
        display: flex;
        justify-content: space-between;
    }

    &__field {
        @include addSpacing(width, 15);
        display: flex;
        flex-direction: column;
        align-items: center;
        color: map-get($dark-neutral-colors, dark-neutral-5);
        @include addSpacing(height, 10);
        // @include addSpacing(margin-right, 2);

        // &:last-of-type {
        //     @include addSpacing(margin-right, 0);
        // }

        line-height: initial;

        &--label {
            @include heading(h100);
            @include margin(0, 0, 1, 0);
        }

        &--value {
            display: flex;
            align-items: center;
            justify-content: center;
            color: map-get($dark-neutral-colors, dark-neutral-1);
            background: map-get($light-neutral-colors, light-neutral-1);
            border-radius: 32px;
            padding: 2px 8px;
            text-align: center;
            font-weight: bold;
            min-width: 22px;
            min-height: 20px;
        }
    }
}
