.nexus-c-custom-complex-filter {
    padding: 10px 5px 10px 10px;
    display: flex;
    flex-direction: column;
    &--clear {
        align-self: flex-end;
        margin-left: 8px;
    }
}

.nexus-c-custom-complex-filter__label {
    margin-bottom: 4px;
}

.nexus-c-custom-complex-filter--buttons-container {
    display: flex;
    justify-content: flex-end;
}
