#titleContainer {
    background-color: #ddd;
    padding-top: 15px;
    padding-bottom: 10px;
    border: 2px solid #999;
    width: 98%;

    .col {
        white-space: pre-wrap;

        &.no-wrap {
            white-space: pre;
        }
    }
}

.placeholder-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.linked-data {
    font-weight: bold;
    color: #ff7274;
    &:hover {
        color: red;
    }
}

.linked-url {
    color: #0065ff;
    text-decoration: underline;
    cursor: pointer;
}

.nexus-c-title-edit__sync-container {
    display: flex;
    flex-direction: row;
    margin: 5px;
    justify-content: flex-end;
}

.nexus-c-title-edit__sync-container-field {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0 20px 0 20px;
}

.nexus-c-title-edit__sync-container-field-description {
    margin: 0 10px 0 5px;
}

.nexus-c-title-edit__sync-container-button {
    background: dodgerblue;
}

.nexus-c-title-edit__sync-indicator {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px 0 5px;
    &--error {
        background: red;
    }
    &--success {
        background: green;
    }
}

#btnSave,
#btnCancel {
    margin-right: 10px;
    margin-top: 10px;
}
