@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';

.ingest-filters {
    color: #42526e;
    @include padding(0, 6, 6);
    border-bottom: 1px solid map-get($light-neutral-colors, light-neutral-1);

    &__section {
        color: map-get($mid-neutral-colors, mid-neutral-7);
        display: flex;
        flex-direction: column;

        & > div {
            width: 135px;
        }

        & > input {
            width: 135px;
            height: 40px;
            background: #ebedf0;
            border: 0;
            color: #42526e;
            padding: 0 10px;
        }
        &--filename {
            margin-top: 16px;
            flex-grow: 1;
            & > input {
                width: 100%;
            }
        }
    }

    &__row1,
    &__row3 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        flex-wrap: wrap;
    }
    &__row2 {
        margin-bottom: 16px;
    }

    .nexus-c-date-time-window-picker {
        display: flex;
        justify-content: space-between;

        &__start-date,
        &__end-date {
            width: 135px;
            margin-bottom: 0;

            div {
                background: white;
                border: 0;

                &.nexus-c-date-time-window-picker__label {
                    background: transparent;
                    color: #a5adba;
                }

                input {
                    color: transparent !important;
                }
            }
        }

        svg {
            margin-right: 5px;
        }
    }

    &__actions {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;

        button {
            width: 135px;
            justify-content: center;
        }
    }
}
