@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';

.ingest-panel {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @include addSpacing(width, 85.5);
    border-right: 1px solid map-get($light-neutral-colors, light-neutral-1);
    @include padding(6, 0, 0);
    color: map-get($dark-neutral-colors, dark-neutral-5);

    &__list {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 100%;
    }

    &__btns {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

.nexus-c-ingest-panel__spinner {
    width: 30px;
    height: 30px;
    margin-top: 1px;
}
