.nexus-c-msv-ids-tag {
    background-color: #f4f5f7; //n20
    border-radius: 9px;
    display: inline-flex;
    align-items: center;
    margin-right: 16px;
    margin-bottom: 16px;
    padding: 2px;
}

.nexus-c-msv-ids-tag__button {
    cursor: pointer;
    &:hover {
        color: red; //r400
    }
}
