@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/colors';

.nexus-c-msv-ids-tag {
    background-color: map-get($neutrals, N20);
    border-radius: 9px;
    display: inline-flex;
    align-items: center;
    @include margin(0, 4, 4, 0);
    @include padding(0.5);
}

.nexus-c-msv-ids-tag__button {
    cursor: pointer;
    &:hover {
        color: map-get($reds, R400);
    }
}
