.NexusUserAvatar {
    padding: 8px;
    color: black;
    .UserAvatarHeading {
        .UserAvatarFullName {
            font: normal normal bold 20px/15px Arial;
        }
        .UserAvatarUsername {
            margin-top: 4px;
            font: normal normal normal 12px/18px Arial;
        }
        .ApplicationVersion {
            font: normal normal normal 12px/20px Arial;
        }
    }

    .p-divider-horizontal.NexusUserDivider {
        margin: 0.8rem 0;
    }

    .UserAvatarLogout {
        padding: 8px;
        .logoutIcon {
            margin-right: 5px;
        }
        .logoutButtonText {
            color: black;
        }
        .p-button.logout {
            background: rgb(0 0 0 / 0%);
            width: 100%;
            border: 0;
            padding: 8px;
        }
        .p-button.logout:hover {
            background-color: rgba(128, 125, 125, 0.103);
        }
    }
}
