.nexus-c-servicing-orders-table {
  width: 100%;
  height: 100%;
  padding: 5px 24px 45px 24px;

  & .nexus-c-nexus-grid {
    height: 100%;
  }
  .ag-react-container a {
    color: #0065FF;
    text-decoration: underline;
  }
}