.nexus-c-servicing-orders-table {
  width: 100%;
  height: calc(100vh - 205px);
  position: relative;

  .nexus-c-nexus-grid {
    height: 100%;
  }
  .ag-react-container a {
    color: #0065ff;
    text-decoration: underline;
  }
}
