@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/colors';

// only nest modifier within block, not elements
.nexus-c-dynamic-form {
    width: 80%;
    margin: auto;
}

.nexus-c-dynamic-form__tab-container {
    width: calc((100% - 64px) * 0.8);
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: fixed;
    top: 131px;
    transition: top linear 0.5s;
    background-color: map-get($neutrals, N0);
    z-index: 1;
}

.nexus-c-dynamic-form__tab-container--title {
    top: 175px;
}

.nexus-c-dynamic-form__tab-container--shrinked-title {
    top: 82px;
}

.nexus-c-dynamic-form__tab {
    display: flex;
    justify-content: center;
    @include padding(1, 6);
    border-bottom: 1px solid map-get($neutrals, N40);
    cursor: pointer;
    transition: color 0.2s ease-in;

    &:hover {
        color: map-get($blues, B400);
    }

    &--is-active {
        color: map-get($blues, B400);
        border-bottom: 2px solid map-get($blues, B400);
        cursor: default;
    }
}

.nexus-c-dynamic-form__section-title {
    @include padding(13, 0, 2);
    font-weight: bold;
    border-bottom: 2px solid map-get($neutrals, N40);
}

.nexus-c-dynamic-form__actions-container {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10%;
    z-index: 2;
}
.nexus-c-dynamic-form__discard-button,
.nexus-c-dynamic-form__submit-button {
    border-radius: 8px;
    border: 1px solid lightgray;
}

.nexus-c-dynamic-form__status {
    width: 30px;
}

.success {
    background-color: map-get($greens, G14);
}

.updated {
    background-color: map-get($yellows, Y14);
}

.error {
    background-color: map-get($reds, R14);
}

.nexus-c-dynamic-form__validation-msg {
    position: absolute;
    top: 24px;
    z-index: 1;
    font-size: 1.3rem;
    right: 245px;
}

.nexus-c-dynamic-form__title-validation-msg {
    position: absolute;
    top: 7%;
    z-index: 1;
    font-size: 1.3rem;
    right: 35%;
}

.nexus-c-dynamic-form__field {
    .nexus-c-field {
        > div {
            display: flex;
            align-items: center;
        }

        .nexus-c-field__label {
            width: 25%;
            color: map-get($neutrals, N300);
            &--grid {
                width: 50%;
            }
        }
    }
}

.nexus-c-dynamic-form__section--grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.nexus-c-field__value-section {
    width: 100%;
}

.nexus-c-dynamic-form__section-start {
    scroll-margin: 80px;
}
