.nexus-c-sync-log-view {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 24px 0 0;
}

.nexus-c-sync-log-view__table {
    width: 100%;
    height: 100%;
    padding: 24px 24px 45px 24px;

    & .nexus-c-nexus-grid {
        height: 100%;
    }
}
