@import '../../../../../styles/atlaskit/theme';
@import '../../../../../styles/atlaskit/mixins';

.ingest-status {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    @include addSpacing(padding-left, 4.5);

    &__date-and-type {
        display: flex;
        align-items: center;
    }

    &__date {
        @include heading(h100);
        @include addSpacing(margin-top, 0);
    }

    &__type {
        @include addSpacing(margin-left, 2);
    }
}
