@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/colors';
@import '~@portal/portal-components/styles/color-palette';

.nexus-c-title-details {
    width: 100%;
    background-color: map-get($neutrals, N0);
}

.nexus-c-title-details__loading {
    width: 100%;
    height: 100%;
    background-color: map-get($neutrals, N0);
}

.nexus-c-title-details-__action-dropdown {
    padding-left: 48px;
    display: flex;
    justify-content: flex-end;
    border-left: 1px solid rgba(black, 0.2);
}

.note {
    font-size: 12px;
    color: rgba(black, 0.6);
}

.nexus-c-line {
    border-left: 1px solid palette(black, 20);
    justify-content: flex-end;
    display: flex;
    height: 32px;
}
