.nexus-c-custom-actions-cell-renderer {
    display: flex;
    width: 100%;
    align-items: center;
}

.nexus-c-custom-actions-cell-renderer__spinner {
    position: relative;
    top: 5px;
    @at-root {
        .nexus-c-custom-actions-cell-renderer {
            justify-content: center;
        }
    }
}
