.nexus-c-loading-cell-renderer {
    display: flex;
    justify-content: space-between;
}

.nexus-c-loading-cell-renderer__value {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
    font-weight: normal;
}

.nexus-c-create-loading-cell-renderer__input {
    height: 100%;
    width: 100%;
}

.nexus-c-loading-cell-renderer__highlighted {
    display: flex;
    color: grey; // should use from config.scss colors
}

.nexus-c-loading-cell-renderer__icon {
    align-self: flex-start;
}
