.nexus-c-match-right {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.nexus-c-match-right-matched {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
}

.nexus-c-match-right-combined {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 170px;
}