.nexus-c-match-right {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.nexus-c-match-right__matched {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 270px;
}

.nexus-c-match-right__combined {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 100%;
    height: 220px;
}

