@import '../../../../styles/config.scss';
@import '../../../../styles/atlaskit/mixins';

.nexus-c-title-metadata-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    @include padding(6, 6, 10, 6);

    & .nexus-c-nexus-grid {
        height: 100%;
        margin: 0;
    }
}

.nexus-c-title-metadata-table__repository {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nexus-c-title-metadata-table__repository-icon {
    cursor: pointer;
}
