.editable-field {
    padding-left: 0px;

    &:not(.disabled) {
        transition: box-shadow 150ms ease-in 0ms;
        box-shadow: 0 0 0 0 transparent;

        &-content {
        }

        .edit-icon {
            transition: opacity 150ms ease-in 0ms;
            opacity: 0;
            display: inline-block;
            position: absolute;
            right: 0;
            top: 0;
        }

        a,
        span,
        .displayDate {
            cursor: text !important;
        }

        &:not(.no-border):hover {
            box-shadow: 0 0 0 1px #ccc;
            .edit-icon {
                opacity: 1;
            }
        }
    }

    &.disabled {
        .displayDate:hover {
            color: #000000;
        }

        a,
        span,
        .displayDate {
            cursor: default !important;
            color: #000000;
        }

        .edit-icon {
            display: none;
        }
    }

    form > div:first-of-type {
        margin-top: 0 !important;
    }
}
.nexus-c-date-time-window-picker {
    padding: 0.75rem 1.25rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    &__start-date,
    &__end-date {
        width: 100%;
        display: flex;
        align-items: center;
        > div:not(.nexus-c-date-time-window-picker__label),
        > form {
            flex-grow: 1;
        }
    }
    &__end-date {
        margin-top: 30px;
    }
    &__label {
        flex: 0 0 33.33333%;
    }
    &__read-view-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    form {
        width: 100%;
    }
    .nexus-c-date-time-picker__type-select {
        margin-left: 33.33333%;
        margin-top: 20px;
    }
}
