.nexus-c-title-to-match {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    .nexus-c-nexus-grid {
        height: 400px;
    }
    .nexus-c-title-to-match-grid {
        .nexus-c-nexus-grid {
            height: 81px;
        }
    }
    >.nexus-c-title{
        font-weight: normal;
    }
    .nexus-c-title-to-match-header{
        .nexus-c-title{
            font-size: 20px;
        }
    }
}