@import '../../../styles/atlaskit/colors';

.nexus-c-rights-repository {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    min-height: 400px;
    padding: 24px;
    padding-bottom: 0;
    overflow: auto;

    .nexus-c-custom-actions-cell-renderer svg {
        max-width: initial;
    }
}

.nexus-c-button {
    display: flex;
    justify-content: center;
    align-items: center;

    .nexus-c-rights-repository & {
        min-width: 100px;
        font-size: 14px;
    }
}

.nexus-c-rights-repository__row {
    background-color: map-get($neutrals, N30) !important;
}
