@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/colors';

.nexus-c-drag-button {
    @include margin(0);
    @include padding(0);
    cursor: move;
    &:hover {
        color: map-get($blues, B200);
    }
}

.hide {
    display: none;
}
