.nexus-c-endpoint-container {
    .nexus-c-searchbox-wrapper {
        &.container-fluid {
            padding-left: 12px;
            padding-right: 12px;

            .nexus-c-divider-wrapper {
                padding-right: 12px;
            }

            &.nexus-c-search-wrapper-padding-right {
                padding-right: 10px;
            }

            .nexus-c-search__inputbox {
                margin-bottom: 0;
            }
        }
    }
}
