@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/colors';

.nexus-c-dop-tasks-dropdown {
    @include margin(0, 0, 0, 2);
    display: flex;
    align-items: center;
    width: 130px;

    button {
        width: 100%;
        @include addSpacing('height', 10);

        > span {
            width: 100%;

            > span {
                text-align: left;
            }
        }
    }
}

.nexus-c-dop-tasks-dropdown__label {
    @include margin(0, 1, 0, 0);
    width: 30%;
}

.nexus-c-dop-tasks-dropdown__elements {
    width: 100%;
}

.nexus-c-dop-tasks-dropdown__textfield {
    @include padding(2);

    label {
        display: none;
    }
}

.nexus-c-dop-tasks-dropdown__textfield-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    @include margin(0, 2, 2, 0);

    .nexus-c-icon-button {
        @include margin(0, 0, 0, 1);

        span {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        button {
            @include addSpacing('width', 8);
            @include addSpacing('height', 8);
        }
    }
}
