.NexusUserAvatar {
    padding: 20px;
    color: black;
    .UserAvatarHeading {
        .UserAvatarFullName {
            font: normal normal bold 20px/23px Arial;
        }
        .UserAvatarUsername {
            margin-top: 2px;
            font: normal normal normal 12px/14px Arial;
        }
    }
    .UserAvatarTenantsSelection {
    }
    .NexusUserAvatar .UserAvatarLogout .p-button.logout {
        background: linear-gradient(to left, var(--bluegray-700) 50%, var(--bluegray-800) 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: background-position 0.5s ease-out;
        color: rgb(0, 0, 0);
        border-color: var(--bluegray-800);
    }
    .NexusUserAvatar .UserAvatarLogout .p-button.logout:hover {
        background-position: left bottom;
    }
    .NexusUserAvatar .UserAvatarLogout .p-button.logout i {
        background-color: var(--bluegray-800);
    }
    .NexusUserAvatar .UserAvatarLogout .p-button.logout:focus {
        box-shadow: 0 0 0 1px var(--bluegray-500);
    }
}
