.nexus-status-tag {
  border-radius: 3px;
  width: 75px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  color: #FFFFFF;
  &.completed {
    background: #36B37E;
  }
  &.manual {
    background: #00B8D9;
  }
  &.pending {
    background: #737E91;
  }
  &.failed {
    background: #DE350B;
  }
}