.nexus-c-multi-instance-field {
    padding: 5px;
    background-color: #fff;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 4px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: flex-end;

    // TODO: Check what's wrong with AtlasKit Buttons
    .button-fix span span {
        display: flex;
    }
}

.nexus-c-multi-instance-field__content {
    display: flex;
    grid-column: 1;
    align-items: center;

    & > .nexus-c-multi-instance-field__tag-group {
        padding: 0;
        border: none;
    }
}

.nexus-c-multi-instance-field__clickable-text {
    cursor: pointer;
}

.nexus-c-multi-instance-field__controls {
    grid-column: -1;
}

.nexus-c-multi-instance-field__tag-group {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    border: 1px solid #00000020;
    border-radius: 4px;
    background: transparent;
}

.nexus-c-multi-instance-field__action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
