.nexus-c-custom-read-only-filter {
    padding: 10px 5px 10px 10px;
}

.nexus-c-custom-read-only-floating-filter {
    padding: 2px 5px 2px 2px;
    span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
