@import '../../../../../../styles/config';

$border: 1px solid rgba(map-get($colors, nexus-title-color), .7);

.nexus-c-partner-request {
  padding: 0 20px;

  &__info-field {
    color: map-get($colors, nexus-title-color);
  }

  &__table {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 2em repeat(auto-fill, minmax(0, auto));
    grid-template-columns: repeat(10, minmax(0, auto));
    border: $border;
    border-right: none;
  }

  &__table-column-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: map-get($colors, nexus-title-color);
    text-align: left;
    border-bottom: $border;
    border-right: $border;
    padding: 5px;
  }

  &__table-cell {
    padding: 5px;
    border-right: $border;
    border-bottom: $border;
    background: rgba(map_get($colors, nexus-title-color), .1);
  }
}
