.nexus-c-audio-language-field {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    //padding-right: 60px;
    .nexus-c-tag__remove-button span {
        cursor: pointer !important;
    }
}
