@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';

.nexus-c-download-emet-modal__field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include margin(4, 0, 4, 0);
}

.nexus-c-download-emet-modal__select {
    width: 100%;
    max-width: 25rem;
}

.nexus-c-download-emet-modal__select-wrapper {
    width: 100%;
    max-width: 25rem;
    > div {
        @include margin(0);
    }
}

.nexus-c-download-emet-modal__subtitle {
    @include margin(0, 0, 6, 0);
}

.nexus-c-download-emet-modal__label {
    text-transform: uppercase;
    @include padding(0, 1, 0, 0);
}

.nexus-c-download-emet-modal__button {
    @include margin(0, 0, 0, 3);
}

.nexus-c-download-emet-modal__buttons {
    display: flex;
    justify-content: flex-end;
}

.nexus-c-cancel-button {
    @include margin(0, 3, 0, 0);
}
