@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';

.download-emet-modal {
    @include margin(0, 0, 5, 0);
}

.download-emet-modal__field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include margin(0, 0, 4, 0);
}

.download-emet-modal__fields {
    @include margin(0, 0, 6, 0);
}

.download-emet-modal__select-wrapper {
    width: 100%;
    max-width: 25rem;
    > div {
        @include margin(0);
    }
}

.download-emet-modal__subtitle {
    @include margin(0, 0, 6, 0);
}

.download-emet-modal__label {
    text-transform: uppercase;
    @include padding(0, 1, 0, 0);
}

.download-emet-modal__button {
    @include margin(0, 0, 0, 3);
    a {
        color: white;
    }
}

.download-emet-modal__buttons {
    display: flex;
    justify-content: flex-end;
}
