.nexus-c-create-loading-cell-renderer {
    display: flex;
    justify-content: space-between;
}

.nexus-c-create-loading-cell-renderer__value {
    text-overflow: ellipsis; 
    overflow: hidden;
}

.nexus-c-create-loading-cell-renderer__input {
    height: 100%;
    width: 100%;
}

.nexus-c-create-loading-cell-renderer__highlighted {
    display: flex;
    color: grey; // should use from config.scss colors
}

.nexus-c-create-loading-cell-renderer__icon {
    align-self: flex-start;
}
