@import '../../../../styles/atlaskit/mixins';

.nexus-c-person-character-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    > button {
        @include padding(0);
    }
}
