@import '../../../../styles/atlaskit/colors';

.nexus-c-person-character-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nexus-c-person-character-item--is-edit {
    cursor: pointer;
    &:hover {
        color: map-get($greens, G300);
    }
}
