@import '../../../../styles/atlaskit/mixins';

.nexus-c-person-character-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    > div > span {
        @include margin(0, 1.25, 0, 0);
    }
}

.nexus-c-person-character-container__add {
    @include padding(0.5);
    @include margin(0);
    font-style: italic;
    background-color: map-get($neutrals, N40);
    cursor: pointer;
    border-radius: 5px;
}
