@import '../../../../../styles/atlaskit/theme';
@import '../../../../../styles/atlaskit/mixins';

.nexus-c-avail-bundle {
    &__cell {
        cursor: pointer;
        width: 100%;
        @include padding(3);
        border-bottom: 1px solid map-get($light-neutral-colors, light-neutral-1);
        background: map-get($light-neutral-colors, light-neutral-4);

        &:hover {
            background: map-get($light-neutral-colors, light-neutral-3);
        }
    }

    &__details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__chevron {
        svg {
            @include addSpacing('width', 3);
            @include addSpacing('height', 3);
            fill: map-get($mid-neutral-colors, mid-neutral-7);
            cursor: pointer;
        }

        &--is-opened {
            svg {
                transform: rotate(90deg);
            }
        }
    }
}
