@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/colors';

.nexus-c-section-tab {
    display: flex;
    justify-content: center;
    @include padding(1, 6);
    cursor: pointer;
    color: map-get($neutrals, N800);
    transition: color 0.2s ease-in;
    height: calc(100% + 2px);

    &:hover {
        color: map-get($blues, B400);
        text-decoration: none;
    }

    // remove the blue border around active links (browser default)
    &:active,
    &:focus {
        outline: none;
        color: map-get($neutrals, N800);
    }

    &--is-active {
        &:focus {
            color: map-get($blues, B400);
        }
        color: map-get($blues, B400);
        border-bottom: 2px solid map-get($blues, B400);
        cursor: default;
    }
}
