@import '~@vubiquity-nexus/portal-styles/scss/config';

.nexus-c-tag {
    height: 2rem;
    min-width: 80px;
    padding: 0 10px;
    margin-right: 5px;
    border: 1px solid #cccccc60;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
        border-color: #ccc;
    }

    background-color: map-get($colors, nexus-tag-default);

    &--is-new {
        background-color: map-get($colors, nexus-tag-green);
    }

    &--error {
        background-color: map-get($colors, nexus-error);
    }

    &--is-modified {
        background-color: map-get($colors, nexus-tag-yellow);
    }
}

.nexus-c-tag__label {
    &--is-clickable:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.nexus-c-tag__remove-button {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nexus-c-tag__tooltip {
    color: #000000c0;
    background-color: map-get($colors, nexus-white);
    font-size: 1rem;
    padding: 5px;
}

.nexus-c-tag__tooltip-list {
    text-align: center;
    padding: 5px;
}

.nexus-c-tag__tooltip-prop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;

    &:not(:last-child) {
        border-bottom: 1px solid #00000080;
    }
    &--error {
        .nexus-c-tag__tooltip-prop-value {
            color: #a94442;
            font-size: 12px;
            font-weight: normal;
        }
    }
}

.nexus-c-tag__tooltip-prop-value {
    font-weight: bold;
    color: #000;
    margin-left: 5px;
}
