@import '~@vubiquity-nexus/portal-styles/scss/config';

.nexus-c-match-right-view {
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nexus-c-match-right-view__header {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nexus-c-match-right-view__header-title {
    color: map-get($colors, nexus-title-color);
    font-size: 30px;
}

.nexus-c-match-right-view__matched {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
}

.nexus-c-match-right-view__combined {
    padding: 20px 0;
    display: flex;
    flex: 2;
    flex-direction: column;
    width: 100%;
}

.nexus-c-match-right-view__buttons {
    display: flex;
    justify-content: flex-end;
}

// add this to ui-elements
.nexus-c-button {
    display: flex;
    justify-content: center;
    align-items: center;

    .nexus-c-match-right-view__buttons & {
        width: 100px;
        font-size: 14px;
    }
}

.nexus-c-match-right-view__grid-column {
    &--highlighted {
        background-color: rgba(map-get($colors, warning), 0.3);
    }
}
