@import '../../../../../styles/mixins.scss';

.so-panel-filter-detail {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-around;
  @include addSpace('margin-top', 2);
  @include addSpace('margin-left', 12);
  @include addSpace('margin-right', 6);


  &__row {
    margin-bottom: 1rem;
    @include addSpace('margin-bottom', 3);

    &--inline {
      display: flex;
      flex-direction: row;
    }
  }



  &__drawer {
    margin-left: 20px;
    margin-top: 2px;
  }

  &__dropdowns {
    display: flex;
    margin-top: 1rem;
  }

  &__dropdown {
    flex: 1;

    &:first-child {
      margin-right: 8px;
    }
  }
}
