.custom-scrollbar::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #fff;
}
.custom-scrollbar::-webkit-scrollbar-track:hover {
    background-color: #f4f4f4;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 5px solid #fff;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
    border: 4px solid #f4f4f4;
}

.custom-scrollbar::-webkit-scrollbar-button {
    display: none;
}

.list-item {
    background: #e8edee;
}

.dev-lab {
    display: flex;
    flex-direction: column;
    padding: 15px;
}
