.nexus-c-nexus-select-container > .nexus-c-nexus-select__menu > .nexus-c-nexus-select__menu-list {
    max-height: 200px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
    color: gray;
}

.nexus-select {
    .portal-component {
        &.dropdown-wrapper {
            .p-dropdown-panel {
                z-index: 1001 !important;
            }
        }
    }
}
