.table-top-icon {
  font-size: 1.25em;
  color: #333333;
  padding: 5px;
}

.table-top-icon:hover {
  color: #5c656d;
}

.table-top-icon:active {
  color: #8c959d;
}

.table-top-text {
  position: relative;
  top: 6px;
}

html {
    overflow-x: hidden;
}

.ag-font-style {
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    user-select: text !important;
}

.ag-header-cell {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
}

.ag-theme-balham {

    background-color: #ffffff;
    .ag-header, .ag-floating-top, .ag-body {
         background-color: #ffffff;
    }

    .ag-header-cell {
        background-color: #050505;
        color: #ffffff;
        border-left: 2px solid white;
        border-right: 1px solid rgba(0,0,0,0.2);
        border-bottom: 0px none rgb(33,37,41);
        line-height: 52px;
    }

    .ag-header-cell.ag-header-cell-sortable::after {
        display: none;
    }

    .ag-header-cell-label {
        font-family: 'Muli', sans-serif;
        font-size: 17.6px;
        font-weight: 400;
    }

    .ag-row {
        font-family: 'Muli', sans-serif;
        font-size: 17.6px;
        font-weight: 400;
        color: rgb(33,37,41);
        background-color: initial;
        .ag-react-container {
            line-height: 48px;
        }
        .ag-cell {
            border-collapse: collapse;
            border-left: 2px solid white;
            border-top: 2px solid white;
            border-right: 1px solid rgba(0,0,0,0.2);
            border-bottom: 0px none rgb(33,37,41);

            .ag-selection-checkbox {
                line-height: 48px;
            }
        }
    }

    //.ag-row-even {
    //    .ag-cell {
    //        background-color: rgba(51,51,51,0.13);
    //    }
    //}
    //
    //.ag-row-odd {
    //    .ag-cell {
    //        background-color: rgba(51,51,51,0.07);
    //    }
    //}
    //
    //.ag-row-selected {
    //    background-color: inherit;
    //    .ag-cell {
    //        background-color: rgba(242, 218, 0, 0.5);
    //    }
    //}

    .ag-header-icon {
        opacity: 1 !important;
    }

    .ag-icon-asc, .ag-icon-desc, .ag-icon-none {
        opacity: 1;
    }

    .ag-icon-asc {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNNSAzaDJ2OUg1eiIvPjxwYXRoIGQ9Ik04Ljk5MyA1LjJWMy40OTNoLTZ2Nkg0LjdWNS4yaDQuMjkzeiIgaWQ9ImIiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48dXNlIGZpbGw9IiNEOEQ4RDgiIHhsaW5rOmhyZWY9IiNhIi8+PHBhdGggc3Ryb2tlPSIjRDZENUQ1IiBkPSJNNS41IDMuNWgxdjhoLTF6Ii8+PGcgdHJhbnNmb3JtPSJyb3RhdGUoNDUgNS45OTMgNi40OTMpIj48dXNlIGZpbGw9IiNEOEQ4RDgiIHhsaW5rOmhyZWY9IiNiIi8+PHBhdGggc3Ryb2tlPSIjRDZENUQ1IiBkPSJNOC40OTMgNC43di0uNzA3aC01djVINC4yVjQuN2g0LjI5M3oiLz48L2c+PC9nPjwvc3ZnPg==);
    }

    .ag-icon-desc {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNNSAyaDJ2OUg1eiIvPjxwYXRoIGQ9Ik04Ljk5MyA2LjFWNC4zOTNoLTZ2Nkg0LjdWNi4xaDQuMjkzeiIgaWQ9ImIiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48dXNlIGZpbGw9IiNEOEQ4RDgiIHhsaW5rOmhyZWY9IiNhIi8+PHBhdGggc3Ryb2tlPSIjRDZENUQ1IiBkPSJNNS41IDIuNWgxdjhoLTF6Ii8+PGcgdHJhbnNmb3JtPSJyb3RhdGUoLTEzNSA1Ljk5MyA3LjM5MykiPjx1c2UgZmlsbD0iI0Q4RDhEOCIgeGxpbms6aHJlZj0iI2IiLz48cGF0aCBzdHJva2U9IiNENkQ1RDUiIGQ9Ik04LjQ5MyA1LjZ2LS43MDdoLTV2NUg0LjJWNS42aDQuMjkzeiIvPjwvZz48L2c+PC9zdmc+);
    }

    .ag-icon-none {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNNSAzaDJ2Nkg1eiIvPjxwYXRoIGQ9Ik04LjE0NiA4LjE4MlY2LjQ3NWgtNXY1aDEuNzA4VjguMTgyaDMuMjkyeiIgaWQ9ImIiLz48cGF0aCBkPSJNOC41IDIuOTE0VjEuMjA3aC01djVoMS43MDdWMi45MTRIOC41eiIgaWQ9ImMiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48dXNlIGZpbGw9IiNEOEQ4RDgiIHhsaW5rOmhyZWY9IiNhIi8+PHBhdGggc3Ryb2tlPSIjRDZENUQ1IiBkPSJNNS41IDMuNWgxdjVoLTF6Ii8+PGcgdHJhbnNmb3JtPSJyb3RhdGUoLTEzNSA1LjY0NiA4LjQ3NSkiPjx1c2UgZmlsbD0iI0Q4RDhEOCIgeGxpbms6aHJlZj0iI2IiLz48cGF0aCBzdHJva2U9IiNENkQ1RDUiIGQ9Ik03LjY0NiA3LjY4MnYtLjcwN2gtNHY0aC43MDhWNy42ODJoMy4yOTJ6Ii8+PC9nPjxnIHRyYW5zZm9ybT0icm90YXRlKDQ1IDYgMy43MDcpIj48dXNlIGZpbGw9IiNEOEQ4RDgiIHhsaW5rOmhyZWY9IiNjIi8+PHBhdGggc3Ryb2tlPSIjRDZENUQ1IiBkPSJNOCAyLjQxNHYtLjcwN0g0djRoLjcwN1YyLjQxNEg4eiIvPjwvZz48L2c+PC9zdmc+);
    }

}

