@import '~@vubiquity-nexus/portal-styles/scss/config';

.nexus-c-bulk-matching {
    margin: 20px;

    h2 {
        color: map-get($colors, nexus-title-color);
        margin-bottom: 20px;
    }

    &__rights-tab {
        font-size: 16px;
        cursor: pointer;
        color: map-get($colors, nexus-light-grey);
        margin-right: 20px;
        &--active {
            color: map-get($colors, nexus-title-color);
        }
    }

    section {
        align-items: center;
    }
    &__warning {
        color: map-get($colors, nexus-warning);
    }
}

.nexus-c-bulk-matching__header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nexus-c-bulk-matching__btn {
    margin-left: auto;
    min-width: 100px;
    display: flex;
    justify-content: center;
}

.nexus-c-bulk-matching__message {
    display: flex;
    align-items: center;
}

.nexus-c-bulk-matching__new-title-button {
    margin-left: 8px;
}
