.propagate-form__message,
.propagate-form__error {
    margin-left: 4px;
    margin-bottom: 20px;
}

.propagate-form__actions {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;

    > button {
        margin: 0 5px;
    }
}

.propagate-form__season-options {
    display: flex;
}
