@import '../../../../../styles/atlaskit/mixins';
@import '../../../../../styles/atlaskit/colors';

.nexus-c-shrinked-header {
    width: 80%;
    display: none;
    justify-content: space-between;
    align-items: center;
    @include margin(0, auto);
    > div:first-child {
        font-size: 24px;
        color: map-get($neutrals, N900);
    }
}

.nexus-c-shrinked-header--visible {
    display: flex;
}

.nexus-c-shrinked-header__sync-publish {
    > button:first-child {
        @include margin(0, 3, 0, 0);
    }
}
