@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/colors';

.nexus-c-sync-publish {
    display: flex;
    justify-content: center;
    align-items: center;
}
