@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/colors';

.nexus-c-title-details-header {
    width: calc((100% - 64px) * 1);
    position: fixed;
    top: 0;
    @include padding(6, 0);
    transition: padding linear 0.5s;
    background-color: #f2f2f2; //TODO: This is not atlaskit color
    z-index: 1;
    > span {
        position: absolute;
        top: 24px;
        left: 24px;
        cursor: pointer;
    }
}

.nexus-c-title-details-header__content {
    width: 80%;
    display: flex;
    @include margin(0, auto);
}

.nexus-c-title-details-header__content--hidden {
    display: none;
}

.nexus-c-title-details-header__title-info-container {
    width: 75%;
    border-right: 2px solid map-get($neutrals, N40);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.nexus-c-title-details-header__publish-info-container {
    width: 25%;
    @include margin(0, 0, 0, 6);
    > div:first-child {
        @include margin(0, 0, 4.2, 0);
    }
}
