@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/colors';

.nexus-c-title-details-header {
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    @include padding(6, 0);
    transition: padding linear 0.5s;
    background-color: #f2f2f2; //TODO: This is not atlaskit color
    z-index: 1002;
    > span {
        position: absolute;
        top: 24px;
        left: 24px;
        cursor: pointer;
    }
}

.nexus-c-title-details-header__content {
    width: 80%;
    display: flex;
    @include margin(0, auto);
}

.nexus-c-title-details-header__content--hidden {
    display: none;
}

.nexus-c-title-details-header__title-info-container {
    width: 75%;
    border-right: 2px solid map-get($neutrals, N40);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.nexus-c-title-details-header__title-info-container--no-border {
    border-right: none;
}

.nexus-c-shrinked-header {
    width: 80%;
    display: none;
    justify-content: space-between;
    align-items: center;
    @include margin(0, auto);
    > div:first-child {
        font-size: 24px;
        color: map-get($neutrals, N900);
    }
}

.nexus-c-shrinked-header--visible {
    display: flex;
}
