@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';
@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/colors';

.nexus-c-title-info-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.nexus-c-title-info-container__info {
    font-size: 14px;
    color: map-get($neutrals, N300);
    @include padding(0, 6);
    > div {
        @include margin(2, 0);
    }
    > div:first-child {
        font-size: 24px;
        color: map-get($neutrals, N900);
        @include margin(0);
    }
}

.nexus-c-title-info-container__label {
    @include margin(0, 24, 0, 0);
}

.nexus-c-title-info-container__label--co {
    @include margin(0, 4, 0, 0);
}

.nexus-c-title-info-container__image {
    > img {
        width: 80px;
        height: 120px;
    }
}
