.nexus-c-single-matching__titles-table,
.nexus-c-single-matching__selected-table {
    display: none;

    &--active {
        display: contents;
    }
}

.nexus-c-single-title-match-toolbar {
    display: flex;
    justify-content: space-between;
}
