@import '~@vubiquity-nexus/portal-styles/scss/config';

.nexus-c-not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: map-get($colors, nexus-title-color);
}
