@import '~@vubiquity-nexus/portal-styles/scss/atlaskit/mixins';

.nexus-c-button-cloud-download {
    @include padding(0);
    display: flex;
    align-items: center;
}

.nexus-c-button-dialog-for-emet-download {
    .p-dialog-header-icons {
        display: none;
    }
}
